@import '../setting.scss';
@import url('http://fonts.googleapis.com/earlyaccess/notosanstc.css');

@font-face {
  font-family: 'ITC Avant Garde Gothic Std';
  src: url('../exhibitions/exG02B2/fonts/ITCAvantGardeStd-Bk.woff2') format('woff2'), url('../exhibitions/exG02B2/fonts/ITCAvantGardeStd-Bk.woff') format('woff'), url('../exhibitions/exG02B2/fonts/ITCAvantGardeStd-Bk.ttf') format('truetype'),
    url('../exhibitions/exG02B2/fonts/ITCAvantGardeStd-Bk.svg#ITCAvantGardeStd-Bk') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ITC Avant Garde Gothic Std';
  src: url('../exhibitions/exG02B2/fonts/ITCAvantGardeStd-Bold.woff2') format('woff2'), url('../exhibitions/exG02B2/fonts/ITCAvantGardeStd-Bold.woff') format('woff'), url('../exhibitions/exG02B2/fonts/ITCAvantGardeStd-Bold.ttf') format('truetype'),
    url('../exhibitions/exG02B2/fonts/ITCAvantGardeStd-Bold.svg#ITCAvantGardeStd-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'ITC Avant Garde Gothic Std';
  src: url('../exhibitions/exG02B2/fonts/ITCAvantGardeStd-Demi.woff2') format('woff2'), url('../exhibitions/exG02B2/fonts/ITCAvantGardeStd-Demi.woff') format('woff'), url('../exhibitions/exG02B2/fonts/ITCAvantGardeStd-Demi.ttf') format('truetype'),
    url('../exhibitions/exG02B2/fonts/ITCAvantGardeStd-Demi.svg#ITCAvantGardeStd-Demi') format('svg');
  font-weight: 500;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
img {
  width: 100%;
  height: auto;
}
::-webkit-scrollbar {
  width: 0;
}
html,
body {
  position: fixed;
}
body {
  background: #e2e5ea;
  overflow: hidden;
  font-family: 'ITC Avant Garde Gothic Std', 'Microsoft JhengHei';
  // &:after{
  //   content:'';
  //   width:100%;
  //   height:1px;
  //   background:red;
  //   position: fixed;
  //   top:50%;
  // }
}
#G02BContainer {
  position: relative;
  width: 100%;
  height: 100%;
  /* background: #700; */
  overflow: hidden;
  user-select: none;
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  &:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }
  &.home {
    // .center{
    //   opacity: 0;
    //   visibility: hidden;
    // }
    #homeInfo {
      opacity: 1;
      visibility: visible;
    }
    .cityBlock {
      opacity: 0.6;
      .contentWrap {
        &:after {
          opacity: 0;
          visibility: hidden;
        }
        .cityName {
          opacity: 0;
          visibility: hidden;
        }
        .otherLangName {
          opacity: 0;
          visibility: hidden;
        }
      }
    }
  }
  &.en {
    #drag {
      padding-top: vw-calc(7);
    }
    #exploreBtn {
      width: vw-calc(486);
    }
    #detailsPage {
      #detailsContent {
        #contentWrap {
          #title {
            font-size: vw-calc(60);
            svg {
              text {
                font-size: vw-calc(60);
              }
            }
          }
          #description {
            width: vw-calc(1008);
            font-size: vw-calc(23);
            line-height: vw-calc(40);
          }
        }
      }
    }
  }
}
#homeInfo {
  font-size: vw-calc(25);
  font-weight: bold;
  color: #6c6c6c;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -25%, 0);
  z-index: 2;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 300ms cubic-bezier(0.645, 0.045, 0.355, 1), visibility 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  #lang {
    margin-top: vw-calc(45);
    display: flex;
    div {
      width: vw-calc(266);
      height: vw-calc(82);
      box-shadow: vw-calc(1 3 10) #00000029;
      border-radius: vw-calc(40);
      margin: vw-calc(10);
      background: #0093ff;
      color: #fff;
      font-size: vw-calc(28);
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
.btn {
  transform: translate3d(0, 0, 0) scale(1);
  transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  &:active {
    transform: translate3d(0, 0, 0) scale(0.9);
  }
}
// .btn{
//   min-width:50px;
//   height:50px;
//   line-height: 50px;
//   text-align: center;
//   position: fixed;
//   background:#333;
//   z-index: 999;
//   border-radius: 25px;
//   cursor: pointer;
//   color:#fff;
//   opacity: 1;
//   visibility: visible;
//   transition: opacity 300ms cubic-bezier(0.645, 0.045, 0.355, 1), visibility 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
// }
// #hintsBtn{
//   bottom:20px;
//   right:20px;
// }
// .btn.hide{
//   opacity: 0;
//   visibility: hidden;
// }
#exploreBtn {
  width: vw-calc(396);
  height: vw-calc(127);
  border-radius: vw-calc(80);
  background: #fff;
  color: #0093ff;
  font-size: vw-calc(30);
  line-height: vw-calc(36);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 vw-calc(10 20) #00000033;
  position: fixed;
  bottom: vw-calc(76);
  left: 50%;
  z-index: 999;
  transform: translate3d(-50%, 0, 0) scale(1);
  opacity: 0;
  visibility: hidden;
  padding-left: 2%;
  &:active {
    transform: translate3d(-50%, 0, 0) scale(0.93);
  }
  &:before {
    content: '';
    width: vw-calc(29);
    height: vw-calc(29);
    background: url('../exhibitions/exG02B2/images/arrowleft.svg') center no-repeat;
    background-size: 100%;
    position: absolute;
    top: 50%;
    left: vw-calc(45);
    transform: translate3d(0, -50%, 0);
  }
  span {
    margin-top: vw-calc(5);
  }
}

#homeBtn {
  width: vw-calc(127);
  height: vw-calc(127);
  border-radius: vw-calc(70);
  box-shadow: 0 vw-calc(10 20) #00000033;
  background: #fff url('../exhibitions/exG02B2/images/homeicon.svg') center no-repeat;
  background-size: 50%;
  position: absolute;
  bottom: vw-calc(76);
  left: vw-calc(76);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
}

#drag {
  width: vw-calc(680);
  height: vw-calc(134);
  border-radius: vw-calc(80);
  background: rgba(0, 0, 0, 0.45);
  padding-left: 5%;
  color: #fff;
  position: fixed;
  bottom: vw-calc(76);
  left: 50%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate3d(-50%, 0, 0);
  white-space: nowrap;
  font-size: vw-calc(30);
  backdrop-filter: blur(15px);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  b {
    font-size: vw-calc(45);
    // font-weight: bold;
    // margin-bottom: vw-calc(3);
    margin-right: vw-calc(20);
  }
  &:before {
    content: '';
    width: vw-calc(79);
    height: vw-calc(79);
    background: url('../exhibitions/exG02B2/images/dragicon.svg') center no-repeat;
    background-size: 100%;
    position: absolute;
    left: vw-calc(52);
    top: 50%;
    transform: translate3d(0, -50%, 0);
  }
}
.citiesList {
  position: relative;
  .cityBlock {
    width: 32.258vw;
    position: absolute;
    padding-top: 32.258vw;
    transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), visibility 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    .contentWrap {
      width: calc(100% - #{vw-calc(80)});
      height: calc(100% - #{vw-calc(80)});
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      &:after {
        content: '';
        width: vw-calc(35);
        height: vw-calc(35);
        position: absolute;
        bottom: vw-calc(44);
        right: vw-calc(47);
        z-index: 1;
        background: #d6d6d6 url('../exhibitions/exG02B2/images/arrowright.svg') 54% no-repeat;
        background-size: 32%;
        border-radius: 50%;
        transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      }
      .cityName {
        position: absolute;
        top: vw-calc(54);
        left: vw-calc(70);
        color: #302e7c;
        font-size: vw-calc(30);
        line-height: vw-calc(30);
        z-index: 1;
        transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        .location {
          font-weight: bold;
          padding-bottom: vw-calc(5);
          padding-right: 4vw;
        }
      }
      .otherLangName {
        color: #505050;
        font-size: vw-calc(20);
        position: absolute;
        bottom: vw-calc(33);
        left: vw-calc(70);
        z-index: 1;
        transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        b {
          font-weight: bold;
        }
      }
      .cityImage {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: #f5f6fa;
        box-shadow: 0 vw-calc(10 15) #0000000f;
        .img {
          width: 90%;
          position: absolute;
          top: 51%;
          left: 50%;
          transform: translate3d(-50%, -50%, 0);
          clip-path: url(#smask);
          background-size: 100%;
          background-repeat: no-repeat;
          &:after {
            content: '';
            padding-top: 71.6%;
            display: block;
          }
        }
        // img {
        //   width: 100%;
        //   height: 100%;
        //   object-fit: contain;
        //   object-position: center;
        //   vertical-align: top;
        //   pointer-events: none;
        // }
        // svg{
        //   width: 100%;
        //   height: 100%;
        //   padding:9%;
        // }
      }
    }
  }
}

#detailsPage {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  &.active {
    opacity: 1;
    visibility: visible;
  }
  #detailsContent {
    width: 100%;
    height: 100%;
    background: #fff7ed;
    padding: vw-calc(88 88 0 155);
    opacity: 0;
    visibility: hidden;
    // transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1);
    #imageWrap {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      // background-repeat: no-repeat;
      // background-size:48.5%;
      // background-position: vw-calc(140) 60%;
      .img {
        width: 41%;
        position: absolute;
        top: 60%;
        left: 30%;
        clip-path: url(#smask);
        background-size: 100%;
        background-repeat: no-repeat;
        transform: translate3d(-50%, -50%, 0);
        &:after {
          content: '';
          padding-top: 71.6%;
          display: block;
        }
      }
    }
    svg {
      width: 0;
      height: 0;
      position: absolute;
    }
    .bubbleWrap {
      width: vw-calc(450);
      height: vw-calc(450);
      position: absolute;
      top: 0;
      right: 0;
      overflow: hidden;
      opacity: 0.4;
      z-index: 3;
      &#bubbleWrap1 {
        top: 60%;
        left: -4%;
        transform: translate3d(-50%, -50%, 0);
        filter: url(#colormatrix) hue-rotate(30deg) brightness(1.5);
      }
      &#bubbleWrap2 {
        top: 100%;
        left: 8%;
        transform: translate3d(20%, -25%, 0);
        filter: url(#colormatrix) hue-rotate(0deg) brightness(1.5);
      }
      .bubble {
        filter: url(#blur);
        width: 80%;
        height: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        background-repeat: no-repeat;
        transform: translate3d(-50%, -50%, 0);
        animation: rotate 30s linear infinite;
        &:nth-child(2) {
          animation: rotate 30s linear infinite;
          animation-direction: reverse;
        }
      }
    }
    .circle {
      width: vw-calc(480);
      height: vw-calc(480);
      background-repeat: no-repeat;
      background-size: auto 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      &#circle1 {
        top: 15%;
        left: 54%;
        animation: rotate 20s linear infinite;
      }
      &#circle2 {
        top: -15%;
        left: auto;
        right: -17%;
        animation: rotate 10s linear infinite;
        animation-direction: reverse;
      }
      &#circle3 {
        width: vw-calc(590);
        height: vw-calc(590);
        top: auto;
        left: auto;
        bottom: -58%;
        right: -40%;
        animation: rotate 7s linear infinite;
      }
    }
    #contentWrap {
      position: relative;
      z-index: 1;
      width: 100%;
      height: 11.5%;
      #title {
        width: 100%;
        height: 100%;
        font-size: vw-calc(63);
        font-weight: bold;
        color: #2f2d7c;
        display: flex;
        align-items: flex-end;
        white-space: nowrap;
        line-height: vw-calc(80);
        span {
          width: 65%;
          margin-right: vw-calc(30);
          display: flex;
          white-space: normal;

          &.hongkong.en {
            height: 100%;
            vertical-align: top;
          }
          &.seoul.en {
            height: 100%;
            vertical-align: top;
          }
          &.huainan.en {
            height: 100%;
            vertical-align: top;
          }
        }
        #cityIcon {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          height: 100%;
          width: 37%;
          div {
            height: vw-calc(58);
            width: auto;
          }
          img {
            height: vw-calc(58);
            width: auto;
          }
          &.zh {
            .icon1 {
              background-size: 100%;
              display: flex;
            }
            .icon2 {
              background-size: 100%;
              margin-left: vw-calc(40);
              display: flex;
            }
            .icon3 {
              background-size: 100%;
              margin-left: vw-calc(40);
              margin-right: vw-calc(50);
              display: flex;
            }
          }
          &.en {
            .icon1 {
              background-size: 100%;
              margin-right: vw-calc(15);
              display: flex;
            }
            .icon2 {
              background-size: 100%;
              margin-right: vw-calc(15);
              display: flex;
            }
            .icon3 {
              background-size: 100%;
              margin-right: vw-calc(25);
              display: flex;
            }
            &.seoul {
              .icon3 {
                margin-right: vw-calc(-10);
              }
            }
          }
        }
      }
      svg {
        position: relative;
        top: 0;
        left: 0;
        width: 30vw;
        height: vw-calc(70);
        text {
          fill:#4b48a5;
        }
        &.en {
          text {
            font-size: vw-calc(60);
            // stroke-width: vw-calc(3);
            height: vw-calc(100);
            font-family: 'ITC Avant Garde Gothic Std', 'Microsoft JhengHei';
          }
          &.hongkong {
            position: absolute;
            top: vw-calc(80);
            left: vw-calc(255);
          }
          &.seoul {
            position: absolute;
            top: vw-calc(80);
            left: vw-calc(260);
          }
          &.huainan {
            position: absolute;
            top: vw-calc(80);
            left: vw-calc(170);
          }
        }
        &.zh {
          text {
            font-size: vw-calc(63);
            // stroke-width: vw-calc(2);
            height: vw-calc(100);
            font-family: 'ITC Avant Garde Gothic Std', 'Microsoft JhengHei';
          }
        }
      }
      #description {
        // width: vw-calc(610);
        width: vw-calc(1008);
        // text-align: justify;
        font-size: vw-calc(28);
        line-height: vw-calc(36);
        margin-top: vw-calc(10);
        margin-left: vw-calc(3);
        color: #555555;
        &.en {
          &.hongkong {
            margin-top: vw-calc(80);
          }
          &.seoul {
            margin-top: vw-calc(80);
          }
          &.huainan {
            margin-top: vw-calc(80);
          }
        }
      }
    }
    #galleryListWrap {
      width: vw-calc(520);
      height: calc(100vh - #{vw-calc(200)});
      position: absolute;
      // top: vw-calc(200);
      top: 11.5% + vw-calc(200);
      right: vw-calc(146);
      z-index: 2;
      &.hamburg {
        &:before {
          content: '';
          width: 100%;
          height: 41%;
          background: linear-gradient(0deg, rgba(255, 253, 241, 1) 55%, rgba(255, 247, 237, 0) 100%);
          position: absolute;
          bottom: vw-calc(-70);
          left: 0;
          z-index: 2;
          pointer-events: none;
        }
      }
      &.hongkong {
        &:before {
          content: '';
          width: 100%;
          height: 41%;
          background: linear-gradient(0deg, rgba(230, 248, 242, 1) 55%, rgba(255, 247, 237, 0) 100%);
          position: absolute;
          bottom: vw-calc(-70);
          left: 0;
          z-index: 2;
          pointer-events: none;
        }
      }
      &.seoul {
        &:before {
          content: '';
          width: 100%;
          height: 41%;
          background: linear-gradient(0deg, rgba(255, 249, 244, 1) 55%, rgba(255, 247, 237, 0) 100%);
          position: absolute;
          bottom: vw-calc(-70);
          left: 0;
          z-index: 2;
          pointer-events: none;
        }
      }
      &.helsinki {
        &:before {
          content: '';
          width: 100%;
          height: 41%;
          background: linear-gradient(0deg, rgba(241, 250, 250, 1) 55%, rgba(255, 247, 237, 0) 100%);
          position: absolute;
          bottom: vw-calc(-70);
          left: 0;
          z-index: 2;
          pointer-events: none;
        }
      }
      &.newyork {
        &:before {
          content: '';
          width: 100%;
          height: 41%;
          background: linear-gradient(0deg, rgba(243, 255, 246, 1) 55%, rgba(255, 247, 237, 0) 100%);
          position: absolute;
          bottom: vw-calc(-70);
          left: 0;
          z-index: 2;
          pointer-events: none;
        }
      }
      &.rotterdam {
        &:before {
          content: '';
          width: 100%;
          height: 41%;
          background: linear-gradient(0deg, rgba(241, 249, 255, 1) 55%, rgba(255, 247, 237, 0) 100%);
          position: absolute;
          bottom: vw-calc(-70);
          left: 0;
          z-index: 2;
          pointer-events: none;
        }
      }
      &.huainan {
        &:before {
          content: '';
          width: 100%;
          height: 41%;
          background: linear-gradient(0deg, rgba(252, 252, 234, 1) 55%, rgba(255, 247, 237, 0) 100%);
          position: absolute;
          bottom: vw-calc(-70);
          left: 0;
          z-index: 2;
          pointer-events: none;
        }
      }
      &.copenhagen {
        &:before {
          content: '';
          width: 100%;
          height: 41%;
          background: linear-gradient(0deg, rgba(255, 246, 238, 1) 55%, rgba(255, 247, 237, 0) 100%);
          position: absolute;
          bottom: vw-calc(-70);
          left: 0;
          z-index: 2;
          pointer-events: none;
        }
      }
      &.kualalumpur {
        &:before {
          content: '';
          width: 100%;
          height: 41%;
          background: linear-gradient(0deg, rgba(250, 247, 241, 1) 55%, rgba(255, 247, 237, 0) 100%);
          position: absolute;
          bottom: vw-calc(-70);
          left: 0;
          z-index: 2;
          pointer-events: none;
        }
      }
      &.barcelona {
        &:before {
          content: '';
          width: 100%;
          height: 41%;
          background: linear-gradient(0deg, rgba(255, 243, 243, 1) 55%, rgba(255, 247, 237, 0) 100%);
          // background: linear-gradient(0deg, rgba(255, 255, 255, 1) 55%, rgba(255, 247, 237, 0) 100%);
          position: absolute;
          bottom: vw-calc(-70);
          left: 0;
          z-index: 2;
          pointer-events: none;
        }
      }
      // &:after {
      //   content: '';
      //   width: vw-calc(171);
      //   height: vw-calc(171 * 0.713);
      //   background: url('../exhibitions/exG02B2/images/icon.svg') center no-repeat;
      //   background-size: 100%;
      //   position: absolute;
      //   bottom: calc(100% + #{vw-calc(9)});
      //   right: 0;
      // }
      #dragForMore {
        padding-left: vw-calc(47);
        padding-top: vw-calc(2);
        padding-bottom: vw-calc(2);
        color: #8b8686;
        font-size: vw-calc(20);
        background: url('../exhibitions/exG02B2/images/arrowdown.svg') left 0 no-repeat;
        background-size: vw-calc(28);
        position: absolute;
        bottom: vw-calc(76);
        left: 50%;
        z-index: 2;
        transform: translate3d(-50%, 0, 0);
        pointer-events: none;
      }
      #galleryList {
        width: 100%;
        height: 100%;
        padding-bottom: vw-calc(400);
        overflow-x: hidden;
        overflow-y: scroll;
        li {
          margin-top: vw-calc(50);
          &:first-child {
            margin-top: 0;
          }
          .img {
            position: relative;
            &.hamburg {
              &:before {
                content: '';
                width: 100%;
                height: 10%;
                background: linear-gradient(0deg, rgba(255, 253, 241, 1) 20%, rgba(255, 247, 237, 0) 100%);
                position: absolute;
                bottom: 0;
                left: 0;
              }
            }
            &.hongkong {
              &:before {
                content: '';
                width: 100%;
                height: 10%;
                background: linear-gradient(0deg, rgba(230, 248, 242, 1) 20%, rgba(255, 247, 237, 0) 100%);
                position: absolute;
                bottom: 0;
                left: 0;
              }
            }
            &.seoul {
              &:before {
                content: '';
                width: 100%;
                height: 10%;
                background: linear-gradient(0deg, rgba(255, 249, 244, 1) 20%, rgba(255, 247, 237, 0) 100%);
                position: absolute;
                bottom: 0;
                left: 0;
              }
            }
            &.helsinki {
              &:before {
                content: '';
                width: 100%;
                height: 10%;
                background: linear-gradient(0deg, rgba(241, 250, 250, 1) 20%, rgba(255, 247, 237, 0) 100%);
                position: absolute;
                bottom: 0;
                left: 0;
              }
            }
            &.newyork {
              &:before {
                content: '';
                width: 100%;
                height: 10%;
                background: linear-gradient(0deg, rgba(243, 255, 246, 1) 20%, rgba(255, 247, 237, 0) 100%);
                position: absolute;
                bottom: 0;
                left: 0;
              }
            }
            &.rotterdam {
              &:before {
                content: '';
                width: 100%;
                height: 10%;
                background: linear-gradient(0deg, rgba(241, 249, 255, 1) 20%, rgba(255, 247, 237, 0) 100%);
                position: absolute;
                bottom: 0;
                left: 0;
              }
            }
            &.huainan {
              &:before {
                content: '';
                width: 100%;
                height: 10%;
                background: linear-gradient(0deg, rgba(252, 252, 234, 1) 20%, rgba(255, 247, 237, 0) 100%);
                position: absolute;
                bottom: 0;
                left: 0;
              }
            }
            &.copenhagen {
              &:before {
                content: '';
                width: 100%;
                height: 10%;
                background: linear-gradient(0deg, rgba(255, 246, 238, 1) 20%, rgba(255, 247, 237, 0) 100%);
                position: absolute;
                bottom: 0;
                left: 0;
              }
            }
            &.kualalumpur {
              &:before {
                content: '';
                width: 100%;
                height: 10%;
                background: linear-gradient(0deg, rgba(250, 247, 241, 1) 20%, rgba(255, 247, 237, 0) 100%);
                position: absolute;
                bottom: 0;
                left: 0;
              }
            }
            &.barcelona {
              &:before {
                content: '';
                width: 100%;
                height: 10%;
                background: linear-gradient(0deg, rgba(255, 243, 243, 1) 20%, rgba(255, 247, 237, 0) 100%);
                position: absolute;
                bottom: 0;
                left: 0;
              }
            }
          }
          p {
            font-size: vw-calc(22);
            line-height: vw-calc(32);
            color: #707070;
            // font-family: 'Noto Sans TC';
            font-family: 'Microsoft JhengHei';
            padding: 0 vw-calc(10);
            margin-top: vw-calc(10);
            &.credit {
              font-size: vw-calc(16);
              line-height: vw-calc(20);
              font-style: italic;
            }
          }
        }
      }
    }
  }
  #bg {
    width: calc(32.258vw - #{vw-calc(80)});
    height: calc(32.258vw - #{vw-calc(80)});
    background: #f5f6fa;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate3d(-50%, -50%, 0) scale(0.9);
    opacity: 0;
    visibility: hidden;
    // border:1px solid red;
  }
}

@keyframes rotate {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}
