@import '../setting.scss';

@font-face {
  font-family: 'ITC Avant Garde Gothic Std';
  src: url('../exhibitions/exG02B2/fonts/ITCAvantGardeStd-Bk.woff2') format('woff2'),
      url('../exhibitions/exG02B2/fonts/ITCAvantGardeStd-Bk.woff') format('woff'),
      url('../exhibitions/exG02B2/fonts/ITCAvantGardeStd-Bk.ttf') format('truetype'),
      url('../exhibitions/exG02B2/fonts/ITCAvantGardeStd-Bk.svg#ITCAvantGardeStd-Bk') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ITC Avant Garde Gothic Std';
  src: url('../exhibitions/exG02B2/fonts/ITCAvantGardeStd-Bold.woff2') format('woff2'),
      url('../exhibitions/exG02B2/fonts/ITCAvantGardeStd-Bold.woff') format('woff'),
      url('../exhibitions/exG02B2/fonts/ITCAvantGardeStd-Bold.ttf') format('truetype'),
      url('../exhibitions/exG02B2/fonts/ITCAvantGardeStd-Bold.svg#ITCAvantGardeStd-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'ITC Avant Garde Gothic Std';
  src: url('../exhibitions/exG02B2/fonts/ITCAvantGardeStd-Demi.woff2') format('woff2'),
      url('../exhibitions/exG02B2/fonts/ITCAvantGardeStd-Demi.woff') format('woff'),
      url('../exhibitions/exG02B2/fonts/ITCAvantGardeStd-Demi.ttf') format('truetype'),
      url('../exhibitions/exG02B2/fonts/ITCAvantGardeStd-Demi.svg#ITCAvantGardeStd-Demi') format('svg');
  font-weight: 500;
  font-style: normal;
}


*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  padding:0;
  margin:0;
}

html,body{
  position: fixed;
}
body{
  background:#E2E5EA;
  overflow: hidden;
  font-family: 'ITC Avant Garde Gothic Std', 'Microsoft JhengHei';
  // &:after{
  //   content:'';
  //   width:100%;
  //   height:1px;
  //   background:red;
  //   position: fixed;
  //   top:50%;
  // }
}
#G02BContainer {
  position: relative;
  width: 100%;;
  height: 100%;
  /* background: #700; */
  overflow: hidden;
  user-select: none;
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  &:active{
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }
  &.home{
    .center{
      opacity: 0;
      visibility: hidden;
    }
    #homeInfo{
      opacity: 1;
      visibility: visible;
    }
    .cityBlock{
      .contentWrap{
        &:after{
          opacity: 0;
          visibility: hidden;
        }
        .cityName{
          opacity: 0;
          visibility: hidden;
        }
        .otherLangName{
          opacity: 0;
          visibility: hidden;
        }
      }
    }
  }
}
#homeInfo{
  font-size:vw-calc(25);
  font-weight: bold;
  color:#6C6C6C;
  position: fixed;
  top:50%;
  left:50%;
  transform: translate3d(-50%,-25%,0);
  z-index: 2;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 300ms cubic-bezier(0.645, 0.045, 0.355, 1), visibility 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  #lang{
    margin-top:vw-calc(45);
    div{
      width:vw-calc(266);
      height: vw-calc(82);
      line-height: vw-calc(80);
      box-shadow: 1px 3px 10px #00000029;
      border-radius: vw-calc(40);
      margin:vw-calc(10);
      background:#0093FF;
      color:#fff;
      font-size:vw-calc(28);
      font-weight: bold;
      display: inline-block;
    }
  }
}
.btn{
  transform: translate3d(0,0,0) scale(1);
  transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  &:active{
    transform: translate3d(0,0,0) scale(.9);
  }
}
// .btn{
//   min-width:50px;
//   height:50px;
//   line-height: 50px;
//   text-align: center;
//   position: fixed;
//   background:#333;
//   z-index: 999;
//   border-radius: 25px;
//   cursor: pointer;
//   color:#fff;
//   opacity: 1;
//   visibility: visible;
//   transition: opacity 300ms cubic-bezier(0.645, 0.045, 0.355, 1), visibility 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
// }
// #hintsBtn{
//   bottom:20px;
//   right:20px;
// }
// .btn.hide{
//   opacity: 0;
//   visibility: hidden;
// }
#exploreBtn{
  width:vw-calc(396);
  height: vw-calc(127);
  border-radius: vw-calc(80);
  background: #fff;
  color:#0093FF;
  font-size:vw-calc(30);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 vw-calc(10 20) #00000033;
  position: fixed;
  bottom:vw-calc(103);
  left:50%;
  z-index: 999;
  transform: translate3d(-50%,0,0) scale(1);
  opacity: 0;
  visibility: hidden;
  &:active{
      transform: translate3d(-50%,0,0) scale(.93);
  }
  &:before{
    content:'';
    width:vw-calc(29);
    height:vw-calc(29);
    background:url('../exhibitions/exG02B2/images/arrowleft.svg') center no-repeat;
    background-size:100%;
    margin-right:vw-calc(25);
  }
  span{
    margin-top:vw-calc(-5);
  }
}
#homeBtn{
  width:vw-calc(127);
  height:vw-calc(127);
  border-radius: vw-calc(70);
  box-shadow: 0 vw-calc(10 20) #00000033;
  background:#fff url('../exhibitions/exG02B2/images/homeicon.png') center no-repeat;
  background-size:50%;
  position: absolute;
  bottom:vw-calc(103);
  left:vw-calc(103);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
}
// #hints{
//   width:0;
//   position: fixed;
//   bottom:vw-calc(40);
//   left:50%;
//   z-index: 999;
  
// }
#drag{
  width:vw-calc(680);
  height:vw-calc(134);
  border-radius: vw-calc(80);
  background: rgba(0,0,0,.45);
  color:#fff;
  position: fixed;
  bottom:vw-calc(103);
  left:50%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate3d(-50%,0,0);
  white-space: nowrap;
  font-size:vw-calc(30);
  backdrop-filter: blur(15px);
  opacity: 0;
  visibility: hidden;
  b{
    font-size:vw-calc(45);
    font-weight: bold;
    margin-bottom: vw-calc(3);
    margin-right: vw-calc(20);
  }
}
.citiesList {
  /* display: flex;
  flex-wrap: wrap; */
  position: relative;
}
.cityBlock {
  width: 32.258vw;
  position: absolute;
  padding-top: 32.258vw;
  transition: opacity .3s cubic-bezier(0.645, 0.045, 0.355, 1), visibility .3s cubic-bezier(0.645, 0.045, 0.355, 1);
  // &.clicked{
    // z-index:888;
    // .contentWrap{
    //   opacity: 0;
    //   visibility: hidden;
    //   transition-delay: .6s;
    // }
    // .mainContentWrap{
    //   opacity: 1;
    //   visibility: visible;
    // }
    // .cityBgColor{
    //   transform: translate3d(-48%,-50%,0) scale(3.6);
    //   transition-delay: .6s;
    // }
  // }
  // &:not(.clicked) .contentWrap:active{
  //   transform: translate3d(0,0,0) scale(.98);
  // }
  // .mainContentWrap{
  //   width: 100vw;
  //   height: 100vh;
  //   position: fixed;
  //   top: 50%;
  //   left: 50%;
  //   transform: translate3d(-49.5%,-49.1%,0);
  //   opacity: 0;
  //   visibility: hidden;
  //   transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  // }
  // .cityBgColor{
  //   width: calc(100% - #{vw-calc(80)});
  //   height: calc(100% - #{vw-calc(80)});
  //   position: absolute;
  //   top:50%;
  //   left:50%;
  //   z-index: 0;
  //   background:#F5F6FA;
  //   transform: translate3d(-50%,-50%,0);
  //   transition: all 1s cubic-bezier(0.83, 0, 0.17, 1);
  // }
  .contentWrap{
    width: calc(100% - #{vw-calc(80)});
    height: calc(100% - #{vw-calc(80)});
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    &:after{
      content:'';
      width:vw-calc(35);
      height:vw-calc(35);
      position: absolute;
      bottom:vw-calc(44);
      right:vw-calc(47);
      z-index: 1;
      background:#D6D6D6 url('../exhibitions/exG02B2/images/arrowright.svg') 54% no-repeat;
      background-size:32%;
      border-radius: 50%;
      transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    .cityName{
      position: absolute;
      top: vw-calc(63);
      left: vw-calc(70);
      color: #302E7C;
      font-size: vw-calc(30);
      line-height: vw-calc(30);
      z-index: 1;
      transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1);
      .location {
        font-weight: bold;
        padding-bottom:vw-calc(5);
      }
    }
    .otherLangName{
      font-size:vw-calc(20);
      position: absolute;
      bottom:vw-calc(37);
      left:vw-calc(70);
      z-index: 1;
      transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1);
      b{
        font-weight: bold;
      }
    }
    .cityImage {
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color:#F5F6FA;
      background-size:84%;
      background-repeat: no-repeat;
      background-position: center;
      box-shadow: 0px 10px 15px #0000000F;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
        vertical-align: top;
        pointer-events: none;
      }
    }
  }
}

#detailsPage{
  width:100%;
  height:100%;
  position: fixed;
  top:0;
  left:0;
  z-index: 998;
  opacity: 0;
  visibility: hidden;
  &.active{
    opacity: 1;
    visibility: visible;
  }
  #detailsContent{
    width: 100%;
    height:100%;
    background:#FFF7ED;
    padding:vw-calc(98 0 0 155);
    opacity: 0;
    visibility: hidden;
    // transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1);
    #title{
      font-size:vw-calc(80);
      font-weight: bold;
      color:#2F2D7C;
      display: flex;
      align-items: flex-end;
      overflow: hidden;
      white-space: nowrap;
      svg{
        width:50vw;
        height:vw-calc(90);
        position: relative;
        top:0;
        margin-left:vw-calc(20);
        text{
          font-size:vw-calc(80);
          stroke-width: vw-calc(1);
          font-family: 'ITC Avant Garde Gothic Std', 'Microsoft JhengHei';
        }
      }
    }
    #description{
      width:vw-calc(590);
      text-align: justify;
      font-size:vw-calc(25);
      line-height: vw-calc(36);
      margin-top:vw-calc(50);
    }
  }
  #bg{
    width: calc(32.258vw - #{vw-calc(80)});
    height: calc(32.258vw - #{vw-calc(80)});
    background:#F5F6FA;
    position: absolute;
    top:50%;
    left:50%;
    z-index: -1;
    transform: translate3d(-50%,-50%,0) scale(.9);
    opacity: 0;
    visibility: hidden;
    // border:1px solid red;
  }
}