@import '../../setting.scss';

#home{
    width:100%;
    height:100%;
    background: linear-gradient(130deg, rgba(150,228,251,1) 0%, rgba(174,210,242,1) 100%);
    overflow: hidden;
    & *{
        box-sizing: border-box;
    }
    ul{
        margin:0;
        padding:0;
        li{
            list-style: none;
        }
    }
    #lang{
        width:vw-calc(400);
        position: absolute;
        bottom:vw-calc(100);
        left:50%;
        transform: translate3d(-50%,0,0);
        display: flex;
        text-align: center;
        p{
            width:100%;
            position: absolute;
            bottom:100%;
        }
        div{
            width:50%;
            padding:vw-calc(18 30);
            margin:vw-calc(0 8);
            background:#fff;
            border-radius: vw-calc(50);
            font-size: vw-calc(20);
            cursor: pointer;
            transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
            &:active{
                transform: translate3d(0,0,0) scale(.9);
            }
        }
    }
    #locationSelector{
        position: absolute;
        bottom:vw-calc(200);
        left:50%;
        transform: translate3d(-50%,0,0);
        display: flex;
        align-items: center;
        text-align: center;
        color:#fff;
        font-weight: bold;
        text-shadow: 0 vw-calc(3 7) rgba(0,0,0,.2);
        font-size:vw-calc(40);
        opacity: 0;
        visibility: hidden;
        #hk{
            color:#003557;
        }
        #line{
            width:vw-calc(250);
            height:vw-calc(5);
            margin-top: vw-calc(18);
            background:#fff;
        }
        .big,
        #selector li{
            font-size:vw-calc(100);
        }
        .sameWidth{
            width:vw-calc(650);
        }
        #selector{
            position: relative;
            #locationsOuterWrap{
                position: absolute;
                top:50%;
                left:40%;
                transform: translate3d(-50%,-50%,0);
                opacity: 0;
                visibility: hidden;
                &:before{
                    content:'';
                    width: 0;
                    height: 0;
                    border-top: vw-calc(15) solid transparent;
                    border-bottom: vw-calc(15) solid transparent; 
                    border-right:vw-calc(23) solid #ffffff;
                    position: absolute;
                    top:50%;
                    left:100%;
                }
            }
            #locationsWrap{
                height:vw-calc(300);
                position: relative;
                overflow: hidden;
                #locations{
                    position: relative;
                    top:0;
                    left:50%;
                    transform: translate3d(-50%,0,0);
                    margin: 0;
                    padding: 0;
                    li{
                        height:vw-calc(80);
                        line-height: vw-calc(80);
                        // border: 1px solid;
                        padding:vw-calc(10 0);
                        &.active{
                            span{
                                transform: translate3d(0,-5%,0) scale(1);
                            }
                        }
                        &:not(.active):active{
                            span{
                                transform: translate3d(0,-4%,0) scale(.4);
                            }
                        }
                        // &:last-child{
                        //     span{
                        //         transform: translate3d(0,10%,0) scale(.5);
                        //     }
                        // }
                        span{
                            display: inline-block;
                            transform: translate3d(0,-4%,0) scale(.5);
                            transition: all .6s cubic-bezier(0.19, 1, 0.22, 1);
                        }
                    }
                }
            }
        }
    }
    #detailPage{
        width:100%;
        height:100%;
        position: fixed;
        top:0;
        left:0;
        z-index: 3;
        opacity: 0;
        visibility: hidden;
        color:#fff;
        &.active{
            opacity: 1;
            visibility: visible;
            #sectionWrap{
                .section{
                    &.active{
                        .half{
                            .wrap{
                                opacity: 1;
                                visibility: visible;
                                transition-delay: .8s;
                                transition-duration: 1s;
                            }
                        }
                    }
                }
            }
            
            //             .half{
            //                 &#left{
            //                     &:after{
            //                         transform: translate3d(0,0%,0);
            //                     }
            //                 }
            //                 &#right{
            //                     &:after{
            //                         transform: translate3d(0,0%,0);
            //                     }
            //                 }
            //             }
            #nav{
                transform: translate3d(0,0%,0);
            }
        }
        #sectionWrap{
            width:100%;
            height:100%;
            position: relative;
            .locationName{
                position: absolute;
                top:vw-calc(70);
                text-transform: uppercase;
                font-weight: bold;
                font-size:vw-calc(50);
                z-index: 999999;
                &.left{
                    left:vw-calc(120);
                }
                &.right{
                    right:vw-calc(120);
                }
            }
            .section{
                width:100%;
                height:100%;
                position: absolute;
                top:0;
                left:0;
                z-index: 0;
                display: flex;
                overflow: hidden;
                &#opening{
                    .name{
                        position: absolute;
                        top:50%;
                        left:50%;
                        z-index: 1;
                        transform: translate3d(-50%,-50%,0);
                        font-size:vw-calc(80);
                        font-weight: bold;
                        text-shadow: 0 vw-calc(3 7) rgba(0,0,0,.2);
                    }
                }
                &#section1{
                    .half{
                        &#left{
                            .bg{
                                background:#ffdac5;
                            }
                        }
                        &#right{
                            .bg{
                                background:#e4e9c4;
                            }
                        }
                    }
                }
                &#section2{
                    .half{
                        &#left{
                            .bg{
                                background:#9cc1e4;
                            }
                        }
                        &#right{
                            .bg{
                                background:#dbc4e9;
                            }
                        }
                    }
                    ul{
                        li{
                            padding-top:vw-calc(19);
                            &:first-child{
                                padding-top:0;
                            }
                        }
                    }
                    .imageWrap{
                        .stageWrap{
                            width:0;
                            height:0;
                            position: absolute;
                            top:70%;
                            left:50%;
                            transform: rotate3d(1, 0, 0, 55deg);
                            transform-style: preserve-3d;
                            .stage{
                                width:25vw;
                                height: 25vw;
                                background: #fffce1;
                                transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, 45deg);
                                transform-style: preserve-3d;
                                box-shadow: 4px 4px 6px rgba(0,0,0,0.1);
                                .people{
                                    width:vw-calc(31);
                                    height:vw-calc(61);
                                    position: absolute;
                                    top:0;
                                    left:0;
                                    display: inline-block;
                                    transform: translate3d(-999px, -999px, 0) rotate3d(1, 0, 0, -90deg);
                                    transform-origin: bottom;
                                    transform-style: preserve-3d;
                                    div{
                                        width:100%;
                                        height:100%;
                                        display: block;
                                        transform: translate3d(0,0,0) rotate3d(0,1, 0, 40deg);
                                    }
                                    &#_1{
                                        &.left{
                                            div{
                                                background:url('./images/people1_left.png') center center no-repeat;
                                                background-size:100%;
                                            }
                                        }
                                        &.right{
                                            div{
                                                background:url('./images/people1_right.png') center center no-repeat;
                                                background-size:100%;
                                            }
                                        }
                                    }
                                    &#_2{
                                        &.left{
                                            div{
                                                background:url('./images/people2_left.png') center center no-repeat;
                                                background-size:100%;
                                            }
                                        }
                                        &.right{
                                            div{
                                                background:url('./images/people2_right.png') center center no-repeat;
                                                background-size:100%;
                                            }
                                        }
                                    }
                                    &#_1{
                                        &.left{
                                            div{
                                                background:url('./images/people1_left.png') center center no-repeat;
                                                background-size:100%;
                                            }
                                        }
                                        &.right{
                                            div{
                                                background:url('./images/people1_right.png') center center no-repeat;
                                                background-size:100%;
                                            }
                                        }
                                    }
                                    &#_2{
                                        &.left{
                                            div{
                                                background:url('./images/people2_left.png') center center no-repeat;
                                                background-size:100%;
                                            }
                                        }
                                        &.right{
                                            div{
                                                background:url('./images/people2_right.png') center center no-repeat;
                                                background-size:100%;
                                            }
                                        }
                                    }
                                    &#_3{
                                        &.left{
                                            div{
                                                background:url('./images/people3_left.png') center center no-repeat;
                                                background-size:100%;
                                            }
                                        }
                                        &.right{
                                            div{
                                                background:url('./images/people3_right.png') center center no-repeat;
                                                background-size:100%;
                                            }
                                        }
                                    }
                                    &#_4{
                                        &.left{
                                            div{
                                                background:url('./images/people4_left.png') center center no-repeat;
                                                background-size:100%;
                                            }
                                        }
                                        &.right{
                                            div{
                                                background:url('./images/people4_right.png') center center no-repeat;
                                                background-size:100%;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                &#section3{
                    .half{
                        &#left{
                            .bg{
                                background:#dfdd7a;
                            }
                        }
                        &#right{
                            .bg{
                                background:#a6bec5;
                            }
                        }
                    }
                }
                &#section4{
                    .half{
                        &#left{
                            .bg{
                                background:#ffe6b9;
                            }
                        }
                        &#right{
                            .bg{
                                background:#e9c4cf;
                            }
                        }
                    }
                }
                &#section5{
                    .half{
                        &#left{
                            .bg{
                                background:#c5fffc;
                            }
                        }
                        &#right{
                            .bg{
                                background:#c4e9c4;
                            }
                        }
                    }
                }
                .half{
                    width:50%;
                    height:100%;
                    position: relative;
                    .bg{
                        content:'';
                        width:100%;
                        height:100%;
                        position: absolute;
                        top:0;
                        left:0;
                        // transition: all 1.6s cubic-bezier(0.19, 1, 0.22, 1);
                        transform: translate3d(0,100%,0);
                    }
                    &#left{
                        .wrap{
                            padding-left:vw-calc(120);
                        }
                        .bg{
                            background:#c5dcff;
                        }
                    }
                    &#right{
                        .wrap{
                            padding-right:vw-calc(120);
                            text-align: right;
                        }
                        .bg{
                            background:#c4e4e9;
                        }
                    }
                    .wrap{
                        width:100%;
                        height:100%;
                        height:calc(100vh - #{vw-calc(100)});
                        padding-top:vw-calc(190);
                        position: relative;
                        z-index: 1;
                        opacity: 0;
                        visibility: hidden;
                        transition: all .3s cubic-bezier(0.19, 1, 0.22, 1);
                        .title{
                            font-size:vw-calc(14);
                            &.big{
                                font-size:vw-calc(20);
                                font-weight: normal;
                            }
                        }
                        .big{
                            font-size:vw-calc(60);
                            font-weight: bold;
                        }
                        .medium{
                            font-size:vw-calc(26);
                            font-weight: 500;
                        }
                    }
                }
            }
        }
        #nav{
            width:100%;
            height:vw-calc(100);
            background:#333;
            position: absolute;
            bottom:0;
            left:0;
            z-index: 999999;
            transform: translate3d(0,100%,0);
            transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) .4s;
            ul{
                width:100%;
                height:100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                text-align: center;
                padding:0;
                margin:0;
                li{
                    height:100%;
                    font-size:vw-calc(24);
                    flex: 1;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    &:before{
                        content:'';
                        display: block;
                        width:vw-calc(7);
                        height:vw-calc(7);
                        border-radius: 50%;
                        position: absolute;
                        top:25%;
                        left:50%;
                        background:#fff;
                        transform: translate3d(-50%,0%,0) scale(0);
                        transition: transform .2s cubic-bezier(0.215, 0.61, 0.355, 1);
                    }
                    &.active{
                        &:before{
                            transform: translate3d(-50%,-50%,0) scale(1);
                        }
                        span{
                            opacity: 1;
                        }
                    }
                    span{
                        opacity: .4;
                        transition: opacity .2s cubic-bezier(0.215, 0.61, 0.355, 1);
                    }
                }
            }
        }
    }
}
html, body{
    position: fixed;
}

// body > canvas{
    // position: fixed;
    // top:0;
    // z-index: 2;
// }