@import '../../setting.scss';

@font-face {
    font-family: 'FuturaLT';
    src: url('./fonts/FuturaLT-Bold.eot');
    src: url('./fonts/FuturaLT-Bold.woff2') format('woff2'),
         url('./fonts/FuturaLT-Bold.woff') format('woff'),
         url('./fonts/FuturaLT-Bold.ttf') format('truetype'),
         url('./fonts/FuturaLT-Bold.svg#FuturaLT-Bold') format('svg'),
         url('./fonts/FuturaLT-Bold.eot?#iefix') format('embedded-opentype');
    font-weight: bold;
    font-style: normal;
  }
  
  
  @font-face {
    font-family: 'FuturaLT';
    src: url('./fonts/FuturaLT.eot');
    src: url('./fonts/FuturaLT.woff2') format('woff2'),
         url('./fonts/FuturaLT.woff') format('woff'),
         url('./fonts/FuturaLT.ttf') format('truetype'),
         url('./fonts/FuturaLT.svg#FuturaLT') format('svg'),
         url('./fonts/FuturaLT.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
  }
  

#home{
    width:100%;
    height:100%;
    background: linear-gradient(130deg, rgba(150,228,251,1) 0%, rgba(174,210,242,1) 100%);
    overflow: hidden;
    font-family: 'FuturaLT' ,sans-serif;
    & *,
    & *:before,
    & *:after{
        box-sizing: border-box;
    }
    sup{
        font-size: vw-calc(8);
    }
    ul{
        margin:0;
        padding:0;
        li{
            list-style: none;
        }
    }
    #lang{
        width:vw-calc(400);
        position: absolute;
        bottom:vw-calc(100);
        left:50%;
        transform: translate3d(-50%,0,0);
        display: flex;
        text-align: center;
        p{
            width:100%;
            position: absolute;
            bottom:100%;
        }
        div{
            width:50%;
            padding:vw-calc(18 30);
            margin:vw-calc(0 8);
            background:#fff;
            border-radius: vw-calc(50);
            font-size: vw-calc(20);
            cursor: pointer;
            transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
            &:active{
                transform: translate3d(0,0,0) scale(.9);
            }
        }
    }
    #locationSelector{
        position: absolute;
        bottom:vw-calc(200);
        left:50%;
        transform: translate3d(-50%,0,0);
        display: flex;
        align-items: center;
        text-align: center;
        color:#fff;
        font-weight: bold;
        text-shadow: 0 vw-calc(3 7) rgba(0,0,0,.2);
        font-size:vw-calc(40);
        opacity: 0;
        visibility: hidden;
        #hk{
            color:#003557;
        }
        #line{
            width:vw-calc(250);
            height:vw-calc(5);
            margin-top: vw-calc(18);
            background:#fff;
        }
        .big,
        #selector li{
            font-size:vw-calc(100);
        }
        .sameWidth{
            width:vw-calc(650);
        }
        #selector{
            position: relative;
            #locationsOuterWrap{
                position: absolute;
                top:50%;
                left:40%;
                transform: translate3d(-50%,-50%,0);
                opacity: 0;
                visibility: hidden;
                &:before{
                    content:'';
                    width: 0;
                    height: 0;
                    border-top: vw-calc(15) solid transparent;
                    border-bottom: vw-calc(15) solid transparent; 
                    border-right:vw-calc(23) solid #ffffff;
                    position: absolute;
                    top:50%;
                    left:100%;
                }
            }
            #locationsWrap{
                height:vw-calc(300);
                position: relative;
                overflow: hidden;
                #locations{
                    position: relative;
                    top:0;
                    left:50%;
                    transform: translate3d(-50%,0,0);
                    margin: 0;
                    padding: 0;
                    li{
                        height:vw-calc(105);
                        line-height: vw-calc(100);
                        // border: 1px solid;
                        padding:vw-calc(10 0);
                        &.active{
                            span{
                                transform: translate3d(0,-5%,0) scale(1);
                            }
                        }
                        &:not(.active):active{
                            span{
                                transform: translate3d(0,-4%,0) scale(.4);
                            }
                        }
                        // &:last-child{
                        //     span{
                        //         transform: translate3d(0,10%,0) scale(.5);
                        //     }
                        // }
                        span{
                            display: inline-block;
                            transform: translate3d(0,-4%,0) scale(.5);
                            transition: all .6s cubic-bezier(0.19, 1, 0.22, 1);
                        }
                    }
                }
            }
        }
    }
    #detailPage{
        width:100%;
        height:100%;
        position: fixed;
        top:0;
        left:0;
        z-index: 3;
        opacity: 0;
        visibility: hidden;
        color:#fff;
        transition: all .1s cubic-bezier(0.645, 0.045, 0.355, 1) .6s;
        &.active{
            opacity: 1;
            visibility: visible;
            transition-delay: 0s;
            #sectionWrap{
                .section{
                    &.active{
                        .half{
                            .wrap{
                                opacity: 1;
                                visibility: visible;
                                transition-delay: .6s;
                                transition-duration: 1s;
                            }
                        }
                    }
                }
            }
            #nav{
                transform: translate3d(0,0%,0);
                transition-delay: .4s;
                #homeBtn{
                    transform: translate3d(-50%,-100%,0);
                    transition-delay: .6s;
                }
            }
        }
        #sectionWrap{
            width:100%;
            height:100%;
            position: relative;
            .locationName{
                position: absolute;
                top:vw-calc(80);
                text-transform: uppercase;
                font-weight: bold;
                font-size:vw-calc(50);
                z-index: 999999;
                &.left{
                    left:vw-calc(104);
                }
                &.right{
                    right:vw-calc(104);
                }
            }
            .section{
                width:100%;
                height:100%;
                position: absolute;
                top:0;
                left:0;
                z-index: 0;
                display: flex;
                overflow: hidden;
                &#opening{
                    .name{
                        position: absolute;
                        top:50%;
                        left:50%;
                        z-index: 1;
                        transform: translate3d(-50%,-50%,0);
                        font-size:vw-calc(80);
                        font-weight: bold;
                        text-shadow: 0 vw-calc(3 7) rgba(0,0,0,.2);
                    }
                }
                &#section1{
                    #right{
                        .dist{
                            right:vw-calc(104);
                        }
                    }
                    .title{
                        position: relative;
                        z-index: 1;
                        span{
                            width: 23px;
                            height: 23px;
                            position: relative;
                            margin-right:vw-calc(20);
                            top:vw-calc(7);
                            display: inline-block;
                            transform-style: preserve-3d;
                            transform: rotate3d(1, 0, 0, 55deg);
                            &:before{
                                content:'';
                                width: 100%;
                                height: 100%;
                                display: block;
                                background: #FFFFFF 0% 0% no-repeat padding-box;
                                box-shadow: 7px 7px 5px #00000015;
                                border: 3px solid #8BCBD1;
                                transform: rotate3d(0, 0, 1, 45deg);
                            }
                        }
                    }
                    .dist{
                        position: absolute;
                        bottom:vw-calc(180);
                        span{
                            height:vw-calc(10);
                            margin-left:vw-calc(15);
                            border:vw-calc(1) solid #fff;
                            border-top:0;
                            display: inline-block;
                        }
                    }
                    .imageWrap{
                        width:100%;
                        height:100%;
                        position: absolute;
                        top:0;
                        left:0;
                        background:url('./images/grid@2x.png');
                        background-size:50%;
                        .map{
                            width:100%;
                            height:100%;
                            position: absolute;
                            top:5%;
                            left:0;
                            background-position: center;
                            background-size: 85%;
                            background-repeat: no-repeat;
                        }
                    }
                }
                &#section2{
                    ul{
                        li{
                            padding-top:vw-calc(18);
                            &:first-child{
                                padding-top:0;
                            }
                            .medium{
                                font-weight: bold;
                                margin-top:vw-calc(5);
                            }
                        }
                    }
                    .imageWrap{
                        .stageWrap{
                            width:0;
                            height:0;
                            position: absolute;
                            top:63%;
                            left:50%;
                            transform: rotate3d(1, 0, 0, 55deg);
                            transform-style: preserve-3d;
                            .stage{
                                width:26vw;
                                height: 26vw;
                                background: #fffce1;
                                transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, 45deg);
                                transform-style: preserve-3d;
                                box-shadow: 4px 4px 6px rgba(0,0,0,0.1);
                                .people{
                                    width:vw-calc(31);
                                    height:vw-calc(61);
                                    position: absolute;
                                    top:0;
                                    left:0;
                                    display: inline-block;
                                    transform: translate3d(-999px, -999px, 0) rotate3d(1, 0, 0, -90deg);
                                    transform-origin: bottom;
                                    transform-style: preserve-3d;
                                    div{
                                        width:100%;
                                        height:100%;
                                        display: block;
                                        transform: translate3d(0,0,0) rotate3d(0,1, 0, 40deg);
                                    }
                                    &#_1{
                                        &.left{
                                            div{
                                                background:url('./images/people1_left.png') center center no-repeat;
                                                background-size:100%;
                                            }
                                        }
                                        &.right{
                                            div{
                                                background:url('./images/people1_right.png') center center no-repeat;
                                                background-size:100%;
                                            }
                                        }
                                    }
                                    &#_2{
                                        &.left{
                                            div{
                                                background:url('./images/people2_left.png') center center no-repeat;
                                                background-size:100%;
                                            }
                                        }
                                        &.right{
                                            div{
                                                background:url('./images/people2_right.png') center center no-repeat;
                                                background-size:100%;
                                            }
                                        }
                                    }
                                    &#_1{
                                        &.left{
                                            div{
                                                background:url('./images/people1_left.png') center center no-repeat;
                                                background-size:100%;
                                            }
                                        }
                                        &.right{
                                            div{
                                                background:url('./images/people1_right.png') center center no-repeat;
                                                background-size:100%;
                                            }
                                        }
                                    }
                                    &#_2{
                                        &.left{
                                            div{
                                                background:url('./images/people2_left.png') center center no-repeat;
                                                background-size:100%;
                                            }
                                        }
                                        &.right{
                                            div{
                                                background:url('./images/people2_right.png') center center no-repeat;
                                                background-size:100%;
                                            }
                                        }
                                    }
                                    &#_3{
                                        &.left{
                                            div{
                                                background:url('./images/people3_left.png') center center no-repeat;
                                                background-size:100%;
                                            }
                                        }
                                        &.right{
                                            div{
                                                background:url('./images/people3_right.png') center center no-repeat;
                                                background-size:100%;
                                            }
                                        }
                                    }
                                    &#_4{
                                        &.left{
                                            div{
                                                background:url('./images/people4_left.png') center center no-repeat;
                                                background-size:100%;
                                            }
                                        }
                                        &.right{
                                            div{
                                                background:url('./images/people4_right.png') center center no-repeat;
                                                background-size:100%;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                &#section4{
                    .wrap{
                        padding-top:vw-calc(200);
                        .big{
                            font-size:vw-calc(100);
                            margin-top: vw-calc(17);
                        }
                        .imageWrap{
                            width:100%;
                            height:100%;
                            position: absolute;
                            top:0;
                            left:0;
                            z-index: -1;
                            overflow: hidden;
                            &:after{
                                content:'';
                                width:100%;
                                height:vw-calc(462);
                                background:#BBC6D9;
                                display: block;
                                position: absolute;
                                top:33%;
                                left:0;
                                opacity: .3;
                                transform: translate3d(0,0,0) skewY(30deg);
                                z-index: -1;
                            }
                            &>div{
                                width:0;
                                height:0;
                                position: absolute;
                                left:0;
                                &.line1{
                                    top:10vw;
                                }
                                &.line2{
                                    top:22vw;
                                }
                                div{
                                    background-size:100%;
                                    background-repeat: no-repeat;
                                    transform: translate3d(-100%, -108%, 0);
                                }
                            }
                        }
                    }
                }
                &#section5{
                    .wrap{
                        background:url('./images/coinhouse.png') center 73% no-repeat;
                        background-size:80%;
                        padding-top:vw-calc(190);
                        .title{
                            &.big{
                                font-size:vw-calc(31);
                                line-height: vw-calc(41);
                            }
                        }
                        .big:not(.title){
                            margin-top:vw-calc(25);
                        }
                        canvas{
                            width:100%;
                            position: absolute;
                            top: 50%;
                            left: 0;
                            transform: translate3d(0,-50%,0);
                        }
                    }
                }
                // &#section3{
                //     .half{
                //         &#left{
                //             .bg{
                //                 background:#dfdd7a;
                //             }
                //         }
                //         &#right{
                //             .bg{
                //                 background:#a6bec5;
                //             }
                //         }
                //     }
                // }
                // &#section4{
                //     .half{
                //         &#left{
                //             .bg{
                //                 background:#ffe6b9;
                //             }
                //         }
                //         &#right{
                //             .bg{
                //                 background:#e9c4cf;
                //             }
                //         }
                //     }
                // }
                // &#section5{
                //     .half{
                //         &#left{
                //             .bg{
                //                 background:#c5fffc;
                //             }
                //         }
                //         &#right{
                //             .bg{
                //                 background:#c4e9c4;
                //             }
                //         }
                //     }
                // }
                .half{
                    width:50%;
                    height:100%;
                    position: relative;
                    .bg{
                        content:'';
                        width:100%;
                        height:100%;
                        position: absolute;
                        top:0;
                        left:0;
                        // transition: all 1.6s cubic-bezier(0.19, 1, 0.22, 1);
                        transform: translate3d(0,100%,0);
                        span{
                            width: 100%;
                            height: 100%;
                            display: block;
                        }
                    }
                    &#left{
                        .wrap{
                            padding-left:vw-calc(104);
                        }
                        .bg{
                            background: transparent linear-gradient(190deg, #64a9d3 0%, #749dcb 100%) 0% 0% no-repeat;
                            span{
                                background: transparent linear-gradient(190deg, #6ab2df 0%, #7aa5d6 100%) 0% 0% no-repeat;
                            }
                        }
                    }
                    &#right{
                        .wrap{
                            padding-right:vw-calc(104);
                            text-align: right;
                        }
                        .bg{
                            background: transparent linear-gradient(60deg, #8FC0C6 0%, #A5E4DD 100%) 0% 0% no-repeat;
                            span{
                                background: transparent linear-gradient(60deg, rgb(151, 204, 211) 0%, rgb(175, 241, 234) 100%) 0% 0% no-repeat padding-box;
                            }
                        }
                        .source{
                            right:vw-calc(104);
                        }
                    }
                    .wrap{
                        width:100%;
                        height:calc(100vh - #{vw-calc(100)});
                        padding-top:vw-calc(220);
                        position: relative;
                        z-index: 1;
                        opacity: 0;
                        visibility: hidden;
                        transition: all .4s cubic-bezier(0.19, 1, 0.22, 1);
                        .title{
                            font-size:vw-calc(16);
                            &.big{
                                font-size:vw-calc(21);
                                font-weight: normal;
                            }
                        }
                        .big{
                            font-size:vw-calc(70);
                            font-weight: bold;
                        }
                        .medium{
                            font-size:vw-calc(30);
                            font-weight: 500;
                        }
                        .source{
                            color:#343434;
                            font-size:vw-calc(18);
                            line-height: vw-calc(18);
                            position: absolute;
                            bottom:vw-calc(55);
                        }
                    }
                }
            }
        }
        #nav{
            width:100%;
            height:vw-calc(122);
            background:#343434;
            position: absolute;
            bottom:0;
            left:0;
            z-index: 999999;
            transform: translate3d(0,100%,0);
            transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
            #homeBtn{
                width:vw-calc(150);
                height:vw-calc(75);
                background:#343434;
                border-top-left-radius: vw-calc(80);
                border-top-right-radius: vw-calc(80);
                position: absolute;
                top:0;
                left:50%;
                transform: translate3d(-50%,0%,0);
                transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
                z-index: 1;
                cursor: pointer;
            }
            ul{
                width:100%;
                height:100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                text-align: center;
                padding:0;
                margin:0;
                position: relative;
                z-index: 2;
                li{
                    height:100%;
                    font-size:vw-calc(28);
                    font-weight: bold;
                    flex: 1;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    &:before{
                        content:'';
                        display: block;
                        width:vw-calc(8);
                        height:vw-calc(8);
                        border-radius: 50%;
                        position: absolute;
                        top:23%;
                        left:50%;
                        background:#fff;
                        transform: translate3d(-50%,0%,0) scale(0);
                        transition: transform .2s cubic-bezier(0.215, 0.61, 0.355, 1);
                    }
                    &.active{
                        &:before{
                            transform: translate3d(-50%,-50%,0) scale(1);
                        }
                        span{
                            opacity: 1;
                        }
                    }
                    span{
                        opacity: .4;
                        transition: opacity .2s cubic-bezier(0.215, 0.61, 0.355, 1);
                    }
                }
            }
        }
    }
}
html, body{
    position: fixed;
}

// body > canvas{
    // position: fixed;
    // top:0;
    // z-index: 2;
// }