@import '../../setting.scss';

$white:#fff;
$black:#000;
$lightblue:#70CCB8;
$drakgreenblue:#074A45;

$width:3840;

#navWrap{
  z-index: 10;
  position: absolute;
  top: 898px;
  left: 898px;
  width: 1620px;
  height: 112px;
  display: flex;
  justify-content: space-between;
  transition: opacity linear 0.3s, visibility linear 0.3s;
  .left{
    width: 828px;
    height: 122px;
    background-color: #fff;
    border-radius: 26px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .streetName{
      width: 200px;
      height: 122px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 40px;
      color: #074A45;
      &.hide{
        position: absolute;
      }
    }
    .yearButton{
      width: 154px;
      height: 57px;
      border-radius: 57px;
      border-style: solid;
      border-width: 1px;
      border-color: #074A45;
      justify-content: center;
      display: flex;
      align-items: center;
      cursor: pointer;
      &::after{
        content: '';
        position: absolute;
        border-right: solid 1px $drakgreenblue;
        height: 60px;
        left: 281px;
      }
      &.hide{
        position: absolute;
      }
    }
    .descriptionBox{
      width: 414px;
      height: 57px;
      justify-content: center;
      display: flex;
      align-items: center;
      font-size: 30px;
      &.hide{
        position: absolute;
      }
    }
    #switch{
    width:vw-calc(415, $width);
    height:vw-calc(54, $width);
    border-radius: vw-calc(54/2, $width);
    font-size:vw-calc(20, $width);
    color:$white;
    background:$lightblue;
    display: flex;
    align-items: center;
    // position: absolute;
    top:50%;
    left:50%;
    transform: translate3d(0,0,0);
    overflow: hidden;
    &.hide{
      position: absolute;
    }
    &:before{
        content:'';
        width:vw-calc(227, $width);
        height:100%;
        border-radius: vw-calc(54/2, $width);
        position: absolute;
        top:0;
        left:0;
        z-index: -1;
        background:$drakgreenblue;
        transform: translate3d(0,0,0);
        transition: all .6s cubic-bezier(0.16, 1, 0.3, 1);
    }
    &.r{
        &:before{
            transform: translate3d(82%,0,0);
        }
    }
    span{
        width:vw-calc(227 - 18, $width);
        padding-left:vw-calc(18, $width);
        text-align: center;
        position: absolute;
        top:50%;
        transform: translate3d(0,-50%,0);
        display: inline-block;
        cursor: pointer;
        &:nth-child(2){
            right:0;
            padding-left:0;
            padding-right:vw-calc(18, $width);
        }
      }
    }
  }
  .right{
    width: 660px;
    height: 112px;
    background-color: #fff;
    background-color: transparent;
    border-radius: 26px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}