@import '../../setting.scss';

$white:#fff;
$black:#000;
$lightblue:#70CCB8;
$drakgreenblue:#074A45;

$width:3840;

.en{
  #navWrap #left #wrap{
    .descriptionBox{
      font-size: vw-calc(22, $width);
    }
    #streetNameWrap .streetName{
      font-size: vw-calc(27, $width);
      &.s{
        font-size:vw-calc(24, $width);
        line-height: vw-calc(34, $width);
      }
    }
  }
}

#navWrap{
  z-index: 10;
  position: absolute;
  bottom: vw-calc(61, $width);
  width: 100%;
  height: vw-calc(122, $width);
  display: flex;
  justify-content: center;
  transition: all 1s cubic-bezier(0.87, 0, 0.13, 1);
  &>div{
    width:50%;
    margin:0 vw-calc(28, $width);
    #wrap{
      background: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: vw-calc(60, $width);
      &.noBtn{
        justify-content: space-evenly;
        padding: 0 vw-calc(40, $width) 0 vw-calc(45, $width);
      }
    }
  }
  #left{
    display: flex;
    justify-content: flex-end;
    #wrap{
      width: vw-calc(828, $width);
      height: vw-calc(122, $width);
      &.disable{
        pointer-events: none;
        touch-action: none;
      }
      #streetNameWrap{
        &.hide{
          display: none;
        }
        .streetName{
          width: vw-calc(227, $width);
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: vw-calc(50, $width);
          color: #074A45;
          &::after{
            content: '';
            position: absolute;
            border-right: solid 1px $drakgreenblue;
            height: 60px;
            left: 326px;
          }
          &.s{
            font-size:vw-calc(32, $width);
          }
        }
      }
      .yearButton{
        width: vw-calc(227, $width);
        height: vw-calc(54, $width);
        border-radius: vw-calc(36, $width);
        border: vw-calc(3, $width) solid #074A45;
        background:#fff;
        color:#074A45;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size:vw-calc(20, $width);
        font-weight: bold;
        position: relative;
        opacity: .3;
        transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
        &.hide{
          display: none;
        }
        &.active{
          background:#074A45;
          color:#fff;
          opacity: 1;
          &:active{
            transform: translate3d(0,0,0) scale(.9);
          }
        }
        &.radar{
          &.active{
            &:before{
              animation: radar 3s cubic-bezier(0.16, 1, 0.3, 1) infinite;
            }
            &:after{
              animation: radar 3s cubic-bezier(0.16, 1, 0.3, 1) infinite .4s;
            }
          }
        }
        &:before, &:after{
          content:'';
          width:calc(100% - #{vw-calc(2)});
          height:calc(100% - #{vw-calc(2)});
          border-radius: vw-calc(100, $width);
          border:vw-calc(2, $width) solid #074A45;
          position: absolute;
          top:0;
          left:0;
          opacity: 1;
          transform: translate3d(0,0,0) scale(0);
          pointer-events: none;
          touch-action: none;
        }
      }
      #space{
        width:vw-calc(2, $width);
        height: vw-calc(39, $width);
        margin: vw-calc(0 30, $width);
        background:#CCCCCC;
      }
      .descriptionBox{
        height: vw-calc(57, $width);
        display: flex;
        align-items: center;
        font-size: vw-calc(30, $width);
        font-weight: bold;
        color:#074A45;
        &.hide{
          display: none;
        }
        &>span{
          width:vw-calc(98, $width);
          height:vw-calc(3, $width);
          background:#074A45;
          margin: vw-calc(0 12);
        }
        p{
          span{
            display: inline;
          }
        }
      }
      #switch{
        width:vw-calc(415, $width);
        height:vw-calc(54, $width);
        border-radius: vw-calc(54/2, $width);
        font-size:vw-calc(20, $width);
        color:$white;
        background:$lightblue;
        display: flex;
        align-items: center;
        // position: absolute;
        top:50%;
        left:50%;
        transform: translate3d(0,0,0);
        overflow: hidden;
        &.hide{
          display: none;
        }
        &:before{
          content:'';
          width:vw-calc(227, $width);
          height:100%;
          border-radius: vw-calc(54/2, $width);
          position: absolute;
          top:0;
          left:0;
          z-index: -1;
          background:$drakgreenblue;
          transform: translate3d(0,0,0);
          transition: all .6s cubic-bezier(0.16, 1, 0.3, 1);
        }
        &.street{
          &:before{
              transform: translate3d(82%,0,0);
          }
        }
        span{
          width:vw-calc(227 - 18, $width);
          padding-left:vw-calc(18, $width);
          text-align: center;
          position: absolute;
          top:50%;
          transform: translate3d(0,-50%,0);
          display: inline-block;
          cursor: pointer;
          &:nth-child(2){
              right:0;
              padding-left:0;
              padding-right:vw-calc(18, $width);
          }
        }
      }
    }
  }
  #right{
    #wrap{
      width: vw-calc(828, $width);
      height: vw-calc(122, $width);
      padding:0 vw-calc(50, $width);
      justify-content: space-around;
      #lang{
        display: flex;
        // margin-right:vw-calc(27 - 13 / 2, $width);
        &>div{
          width:vw-calc(57, $width);
          height:vw-calc(57, $width);
          border-radius: 50%;
          border:vw-calc(2, $width) solid #70CCB8;
          display: flex;
          justify-content: center;
          align-items: center;
          background:transparent;
          color:#70CCB8;
          font-size:vw-calc(23, $width);
          line-height: vw-calc(57, $width);
          margin:vw-calc(13/2, $width);
          transition: all .6s cubic-bezier(0.16, 1, 0.3, 1);
          &.active{
            border-color: #074A45;
            background:#074A45;
            color:#fff;
          }
          &#en{
            font-size:vw-calc(17, $width);
          }
        }
      }
      #questionBtnWrap{
        position: relative;
        &:before, &:after{
          content:'';
          width: vw-calc(2, $width);
          height: vw-calc(39, $width);
          background:#CCCCCC;
          position: absolute;
          top:50%;
          transform: translate3d(0, -50%,0);
        }
        &:before{
          left:0;
        }
        &:after{
          right:0;
        }
        #questionBtn{
          width:vw-calc(57, $width);
          height:vw-calc(57, $width);
          border-radius: 50%;
          border:vw-calc(3, $width) solid #074A45;
          margin:vw-calc(45, $width);
          display: flex;
          justify-content: center;
          align-items: center;
          font-size:vw-calc(27, $width);
          line-height: vw-calc(57, $width);
        }
      }
      #indicator{
        width:vw-calc(270, $width);
        height:vw-calc(57, $width);
        // margin-left:vw-calc(27, $width);
        padding-left:vw-calc(46, $width);
        background:url('./images/indicator.svg') left center no-repeat;
        color:#074A45;
        font-size:vw-calc(18, $width);
        line-height: vw-calc(22, $width);
        display: flex;
        align-items: center;
        transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
        &.hideImg{
          background-position:-20% center;
          // margin-left:vw-calc(30, $width);
          padding-left:0;
          // letter-spacing: vw-calc(-1.6, $width);
        }
        br{
          display: none;
        }
      }
    }
  }
}


@keyframes radar{
  0%{
    opacity: 0;
  }
  13%{
    opacity: 0;
  }
  23%{
    opacity: 1;
  }
  100%{
    transform: translate3d(0,0,0) scale(1.6,1.8);
    opacity: 0;
  }
}