@import '../../setting.scss';

$white: #fff;
$black: #000;
$lightblue: #70ccb8;
$drakgreenblue: #074a45;
$brown: #59472a;

$width: 3840;

@font-face {
  font-family: 'SourceHanSerifTC-Bold';
  src: url('../../fonts/SourceHanSerifTC-Bold.otf');
}
@font-face {
  font-family: 'EB Garamond';
  src: url('../../fonts/EBGaramond-MediumItalic.woff2') format('woff2'), url('../../fonts/EBGaramond-MediumItalic.woff') format('woff'), url('../../fonts/EBGaramond-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Helvetica Neue LT Std';
  src: url('../../fonts/HelveticaNeueLTStd-Bd.woff2') format('woff2'), url('../../fonts/HelveticaNeueLTStd-Bd.woff') format('woff'), url('../../fonts/HelveticaNeueLTStd-Bd.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.eb {
  font-family: 'EB Garamond';
}
.dg.ac {
  z-index: 999 !important;
}
.streetFont {
  font-family: 'SourceHanSerifTC-Bold';
}

body {
  overflow: hidden;
  font-family: 'Helvetica Neue LT Std';
  // background:#0d3c59;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  padding: 0;
  margin: 0;
}
ul,
li {
  list-style: none;
}
span {
  display: inline-block;
}

.hide {
  opacity: 0;
  visibility: hidden;
}

.shader {
  position: relative;
  z-index: 1;
  transform-origin: top left;
  transform: translate3d(0, 0, 0) scale(0.5);
  transition: transform 0.8s cubic-bezier(0.65, 0, 0.35, 1);
  &.zone1 {
    transform: translate3d(-15.4%, -21.85%, 0) scale(0.94) !important;
  }
  &.zone2 {
    transform: translate3d(-44.45%, -27.57%, 0) scale(0.943) !important;
  }
  &.zone3 {
    transform: translate3d(-76.85%, -18.05%, 0) scale(0.943) !important;
  }
  &.zone4 {
    transform: translate3d(-86.5%, -18.05%, 0) scale(0.943) !important;
  }
}

.zone1 {
  transform: translate3d(-15.4%, -43.6%, 0) scale(1.88) !important;
}
.zone2 {
  transform: translate3d(-44.4%, -55%, 0) scale(1.885) !important;
}
.zone3 {
  transform: translate3d(-76.8%, -36%, 0) scale(1.885) !important;
}
.zone4 {
  transform: translate3d(-86.45%, -36%, 0) scale(1.885) !important;
}

// .zone1_street{
//     transform: translate3d(-15.4%,-44%,0);
// }
// .zone2_street{
//     transform: translate3d(-44.4%,-55%,0);
// }
// .zone3_street{
//     transform: translate3d(-76.8%,-36%,0);
// }
// .zone4_street{
//     transform: translate3d(-86.45%,-36%,0);
// }

#ref {
  text-align: right;
  color: #074a45;
  font-size: vw-calc(20, $width);
  font-weight: bold;
  position: absolute;
  top: vw-calc(41, $width);
  right: vw-calc(63, $width);
  z-index: 1;
  text-shadow: 0 vw-calc(3 6, $width) #fff;
  opacity: 1;
  visibility: visible;
  transition: all 0.6s cubic-bezier(0.87, 0, 0.13, 1);
  &.hide {
    opacity: 0;
    visibility: hidden;
  }
  &.w {
    color: #fff;
    text-shadow: 0 vw-calc(3 6, $width) #074a45;
  }
}

#popupTutor {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s cubic-bezier(0.87, 0, 0.13, 1);
  &.active {
    opacity: 1;
    visibility: visible;
  }
  #content {
    width: vw-calc(653, $width);
    height: vw-calc(653, $width);
    border-radius: 50%;
    border: vw-calc(5, $width) solid #fff;
    background: #000;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    #title {
      display: flex;
      margin-top: vw-calc(141, $width);
      padding: 0 vw-calc(100, $width);
      & > * {
        padding: 0 vw-calc(30, $width);
      }
      p {
        font-size: vw-calc(35, $width);
        font-weight: bold;
        flex: 0;
        white-space: nowrap;
      }
      span {
        font-size: vw-calc(18, $width);
        line-height: vw-calc(27, $width);
      }
    }
    &.slide2 {
      #man {
        left: 45%;
        background: url('./images/man_right.svg') no-repeat;
        span {
          top: 16%;
          left: 83%;
        }
      }
    }
    #man {
      width: vw-calc(224, $width);
      height: vw-calc(284, $width);
      background: url('./images/man_left.svg') no-repeat;
      position: absolute;
      left: 55%;
      bottom: vw-calc(78, $width);
      transform: translate3d(-50%, 0, 0);
      span {
        width: vw-calc(54, $width);
        height: vw-calc(54, $width);
        background: #26fafa;
        opacity: 0.44;
        border-radius: 50%;
        position: absolute;
        top: 16%;
        left: -7%;
        &:before,
        &:after {
          content: '';
          width: calc(100% - #{vw-calc(3)});
          height: calc(100% - #{vw-calc(3)});
          border-radius: vw-calc(100, $width);
          border: vw-calc(3, $width) solid #26fafa;
          position: absolute;
          top: 0;
          left: 0;
          opacity: 1;
          transform: translate3d(0, 0, 0) scale(0);
          pointer-events: none;
          touch-action: none;
        }
        &:before {
          animation: radar3 3s cubic-bezier(0.16, 1, 0.3, 1) infinite;
        }
        &:after {
          animation: radar3 3s cubic-bezier(0.16, 1, 0.3, 1) infinite 1s;
        }
      }
    }
    .btn {
      width: vw-calc(76, $width);
      height: vw-calc(76, $width);
      border-radius: 50%;
      border: vw-calc(3, $width) solid #fff;
      position: absolute;
      top: 50%;
      transform: translate3d(0, -50%, 0);
      background: #000;
      opacity: 1;
      visibility: visible;
      &.hide {
        opacity: 0.4;
        visibility: visible;
      }
      &:before {
        content: '';
        width: vw-calc(30, $width);
        height: vw-calc(20, $width);
        background: url('./images/arrow_stroke.svg') no-repeat;
        position: absolute;
        top: 50%;
        left: 50%;
      }
      &#leftBtn {
        right: calc(100% + #{vw-calc(37, $width)});
        &:before {
          transform: translate3d(-50%, -50%, 0) rotate(-90deg);
        }
      }
      &#rightBtn {
        left: calc(100% + #{vw-calc(37, $width)});
        &:before {
          transform: translate3d(-50%, -50%, 0) rotate(90deg);
        }
      }
    }
  }
  #bg {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
  }
}

.en#main {
  #popupTutor #content #title p {
    white-space: normal;
  }
  #coast #locationsWrap #locations,
  #street #locationsWrap #locations {
    font-size: vw-calc(16, $width);
  }
  #coast #contentWrap .item {
    &:nth-child(2) {
      #markerWrap #location {
        width: vw-calc(200, $width);
        height: vw-calc(200, $width);
      }
    }
    &:nth-child(3) {
      #markerWrap #location {
        width: vw-calc(255, $width);
        height: vw-calc(255, $width);
      }
    }
    &:nth-child(4) {
      #card #btnOuterWrap {
        top: 90%;
      }
    }
    &:nth-child(5) {
      #card #btnOuterWrap {
        top: 87%;
      }
    }
    &:nth-child(6) {
      #markerWrap #location {
        width: vw-calc(255, $width);
        height: vw-calc(255, $width);
        padding: 0 vw-calc(25, $width);
      }
      #card {
        height: vw-calc(620, $width);
        #btnOuterWrap {
          top: 94%;
        }
      }
    }
    &:nth-child(7) {
      #card #btnOuterWrap {
        top: 85%;
      }
    }
    &:nth-child(10) {
      #markerWrap #location {
        width: vw-calc(210, $width);
        height: vw-calc(210, $width);
      }
    }
    // &:nth-child(11){
    //     #card #btnOuterWrap{
    //         top: 90%;
    //     }
    // }
    #markerWrap #location {
      padding-top: 0;
    }
  }
  #yearOfCoastline.zoomed p {
    transform: translate3d(65%, 0, 0);
  }
  #coast #contentWrap .item #card #btnOuterWrap .btnWrap > div span {
    width: vw-calc(130, $width);
    font-size: vw-calc(12, $width);
    line-height: vw-calc(14, $width);
  }
}

#main {
  width: 100%;
  height: 100%;
  font-family: 'Helvetica';
  opacity: 1;
  visibility: visible;
  transition: all 0.6s cubic-bezier(0.65, 0, 0.35, 1);
  &.hide {
    opacity: 0;
    visibility: hidden;
  }
  #coast {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    opacity: 1;
    visibility: visible;
    transform-origin: top left;
    transform: translate3d(0, 0, 0) scale(1);
    transition: opacity 0.6s cubic-bezier(0.87, 0, 0.13, 1), visibility 0.6s cubic-bezier(0.87, 0, 0.13, 1), transform 0.8s cubic-bezier(0.65, 0, 0.35, 1);
    &.hide {
      opacity: 0;
      visibility: hidden;
      // transition-duration: .3s, .3s, .8s;
      #locationsWrap {
        #locations {
          div {
            opacity: 0;
            visibility: hidden;
          }
        }
      }
      #contentWrap {
        .item {
          opacity: 0;
          visibility: hidden;
        }
      }
    }
    #locationsWrap {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      #locations {
        width: 100%;
        // height:100%;
        font-size: vw-calc(22, $width);
        position: relative;
        div {
          width: vw-calc(183, $width);
          height: vw-calc(48, $width);
          padding-bottom: vw-calc(2, $width);
          display: flex;
          justify-content: center;
          align-items: center;
          background: #243838cc;
          border-radius: vw-calc(24, $width);
          box-shadow: 0 vw-calc(3 6) rgba(0, 0, 0, 0.4);
          color: #fff;
          position: absolute;
          opacity: 1;
          visibility: visible;
          transition: opacity 0.6s cubic-bezier(0.87, 0, 0.13, 1), visibility 0.6s cubic-bezier(0.87, 0, 0.13, 1);
          @for $i from 1 through 8 {
            &:nth-child(#{$i}) {
              transition-delay: #{$i * 0.1}s;
            }
          }
          &:nth-child(1) {
            top: vw-calc(540, $width);
            left: vw-calc(703, $width);
          }
          &:nth-child(2) {
            top: vw-calc(458, $width);
            left: vw-calc(1000, $width);
          }
          &:nth-child(3) {
            top: vw-calc(641, $width);
            left: vw-calc(1231, $width);
          }
          &:nth-child(4) {
            top: vw-calc(720, $width);
            left: vw-calc(1599, $width);
          }
          &:nth-child(5) {
            top: vw-calc(642, $width);
            right: vw-calc(1662, $width);
          }
          &:nth-child(6) {
            top: vw-calc(353, $width);
            right: vw-calc(1468, $width);
          }
          &:nth-child(7) {
            top: vw-calc(540, $width);
            right: vw-calc(1151, $width);
          }
          &:nth-child(8) {
            top: vw-calc(697, $width);
            right: vw-calc(892, $width);
          }
        }
      }
    }
    #contentWrap {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 5;
      #bg {
        width: 100%;
        height: 100%;
        background: #042220b0;
        display: block;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s cubic-bezier(0.87, 0, 0.13, 1);
      }
      &.showCard {
        #bg {
          opacity: 1;
          visibility: visible;
        }
        .item {
          #markerWrap {
            #marker {
              transform: translate3d(-50%, -100%, 0) scale(0);
            }
          }
        }
      }
      .item {
        width: 100%;
        position: relative;
        z-index: 1;
        opacity: 1;
        visibility: visible;
        transition: all 0.6s cubic-bezier(0.87, 0, 0.13, 1);
        @for $i from 1 through 3 {
          &:nth-child(#{$i}) {
            transition-delay: #{$i * 0.1}s;
          }
        }
        &.show {
          #markerWrap {
            #location {
              transform: translate3d(-50%, -124%, 0) scale(1);
            }
          }
          #card {
            opacity: 1;
            visibility: visible;
            transform: translate3d(0, -50%, 0) scale(1);
          }
        }
        #markerWrap {
          width: 0;
          height: 0;
          position: absolute;
          #marker {
            width: vw-calc(61, $width);
            height: vw-calc(69, $width);
            background: url('./images/marker.svg') center no-repeat;
            transform: translate3d(-50%, -100%, 0) scale(1);
            transition: transform 1s cubic-bezier(0.16, 1, 0.3, 1);
            &:before {
              animation: radar2 3s cubic-bezier(0.16, 1, 0.3, 1) infinite;
            }
            &:after {
              animation: radar2 3s cubic-bezier(0.16, 1, 0.3, 1) infinite 0.4s;
            }
            &:before,
            &:after {
              content: '';
              width: vw-calc(61);
              height: vw-calc(61);
              border-radius: vw-calc(100);
              border: vw-calc(2) solid #fa7f02;
              position: absolute;
              top: 40%;
              left: 50%;
              opacity: 1;
              transform: translate3d(-50%, -50%, 0) scale(0);
            }
          }
          #location {
            width: vw-calc(155, $width);
            height: vw-calc(155, $width);
            font-size: vw-calc(18, $width);
            line-height: vw-calc(22, $width);
            font-weight: bold;
            border-radius: 50%;
            padding: vw-calc(5 10 0, $width);
            background: #fff;
            box-shadow: vw-calc(6 6 6, $width) rgba(0, 0, 0, 0.2);
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            transform: translate3d(-50%, -124%, 0) scale(0);
            transition: transform 1s cubic-bezier(0.16, 1, 0.3, 1);
          }
        }
        &:nth-child(12) {
          #card {
            transform: translate3d(15%, -50%, 0) scale(1);
          }
        }
        #card {
          width: vw-calc(511, $width);
          height: vw-calc(698 - 59 - 87 + 20 + 50, $width);
          background: url('./images/card_bg.svg') top / 99.95% repeat-y;
          position: absolute;
          top: 40vh;
          left: calc(50% + #{vw-calc(342, $width)});
          padding: vw-calc(30 50 87, $width);
          color: #074a45;
          display: flex;
          opacity: 0;
          visibility: hidden;
          transform: translate3d(0, -50%, 0) scale(0.85);
          transition: all 0.6s cubic-bezier(0.87, 0, 0.13, 1);
          &:before,
          &:after {
            content: '';
            width: 100%;
            position: absolute;
            left: 0;
            background: url('./images/card.svg') top / 100% no-repeat;
          }
          &:before {
            height: vw-calc(59, $width);
            bottom: 100%;
          }
          &:after {
            height: vw-calc(87, $width);
            top: 100%;
            background-position: bottom;
          }
          &.left {
            transform: translate3d(-23.5vw, -50%, 0) scale(1);
            // left:auto;
            // right:calc(50% + #{vw-calc(50, $width)});
          }
          #closeBtn {
            width: vw-calc(32, $width);
            height: vw-calc(32, $width);
            position: absolute;
            top: vw-calc(-25, $width);
            right: vw-calc(63, $width);
            span {
              width: 100%;
              height: vw-calc(2, $width);
              background: #074a45;
              display: block;
              position: absolute;
              top: 50%;
              left: 50%;
              &:nth-child(1) {
                transform: translate3d(-50%, -50%, 0) rotate(45deg);
              }
              &:nth-child(2) {
                transform: translate3d(-50%, -50%, 0) rotate(-45deg);
              }
            }
          }
          #wrap {
            width: 100%;
            position: relative;
            z-index: 2;
            top: vw-calc(-25, $width);
            #title {
              display: flex;
              justify-content: space-between;
              font-size: vw-calc(22, $width);
              font-weight: 800;
              margin-bottom: vw-calc(13.5, $width);
              br {
                display: none;
              }
            }
            #imgWrap {
              width: 85%;
              position: relative;
              &:before {
                content: '';
                padding-top: 62.65%;
                display: block;
              }
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                position: absolute;
                top: 0;
                left: 0;
              }
            }
            #info {
              height: vw-calc(250, $width);
              padding: vw-calc(25 0 0 10, $width);
              overflow-y: scroll;
              &::-webkit-scrollbar {
                width: vw-calc(3, $width);
              }
              &::-webkit-scrollbar-thumb {
                background: #074a45;
              }
              & > li {
                display: flex;
                margin-top: vw-calc(28.8, $width);
                &:first-child {
                  margin: 0;
                  span {
                    &:nth-child(2) {
                      height: auto;
                    }
                  }
                }
                span {
                  font-size: vw-calc(22, $width);
                  line-height: vw-calc(24, $width);
                  padding-right: vw-calc(10, $width);
                  &:first-child {
                    flex: none;
                    width: vw-calc(77, $width);
                    // font-size: vw-calc(15, $width);
                  }
                  &:nth-child(2) {
                    // height: vw-calc(80, $width);
                    height: max-content;
                    overflow-x: hidden;
                    // overflow-y: scroll;
                    overflow-y: hidden;
                    // &::-webkit-scrollbar {
                    //   width: vw-calc(3, $width);
                    // }
                    // &::-webkit-scrollbar-thumb {
                    //   background: #074a45;
                    // }
                  }
                  ul {
                    margin-top: vw-calc(9, $width);
                    li {
                      list-style: disc;
                      margin-top: vw-calc(2.7, $width);
                      margin-left: vw-calc(13.5, $width);
                    }
                  }
                }
              }
            }
          }
          #btnOuterWrap {
            width: 100%;
            display: flex;
            justify-content: space-between;
            position: absolute;
            top: 92%;
            left: 0;
            padding: vw-calc(30 50 87, $width);
            z-index: 2;
            .btnWrap {
              & > div {
                height: 100%;
                display: flex;
                &:active {
                  #icon {
                    background: $lightblue;
                    transform: translate3d(0, 0, 0) scale(0.9);
                    g {
                      stroke: $white;
                    }
                  }
                }
                & > div {
                  align-items: center;
                }
                #icon {
                  margin-top: vw-calc(-8, $width);
                  width: vw-calc(42 + 2, $width);
                  height: vw-calc(42 + 2, $width);
                  border-radius: 50%;
                  border: vw-calc(2, $width) solid $lightblue;
                  transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
                  g {
                    stroke: $lightblue;
                    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
                  }
                }
                span {
                  width: vw-calc(121, $width);
                  margin: vw-calc(0 12, $width);
                  font-size: vw-calc(14, $width);
                  line-height: vw-calc(16, $width);
                  // display: flex;
                  // align-items: center;
                }
              }
              #nextBtn {
                flex-direction: row-reverse;
                span {
                  text-align: right;
                }
              }
            }
          }
        }
      }
    }
  }
  #street {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    opacity: 1;
    visibility: visible;
    transition: all 0.6s cubic-bezier(0.87, 0, 0.13, 1);
    &:after {
      content: '';
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      display: block;
      opacity: 0;
      visibility: hidden;
      position: relative;
      z-index: 4;
      transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
    }
    &.hide {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      touch-action: none;
    }
    &.showVideo {
      &:after {
        opacity: 1;
        visibility: visible;
      }
      .zoneBtn,
      #mapIndicator {
        z-index: 3;
      }
    }
    & > div {
      height: 100%;
      transform-origin: left top;
      transition: transform 0.8s cubic-bezier(0.65, 0, 0.35, 1);
      & > div {
        transform-origin: left top;
        transform: translate3d(0, 0, 0) scale(0.531915);
      }
    }
    #closeArea {
      width: 50vw;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 5;
    }
    .zoneBtn {
      width: vw-calc(67, $width);
      height: vw-calc(67, $width);
      background: url('./images/prevnext.svg');
      position: absolute;
      top: 50%;
      z-index: 6;
      opacity: 1;
      visibility: visible;
      transform-origin: center;
      transform: translate3d(0, -50%, 0);
      transition: all 0.3s cubic-bezier(0.87, 0, 0.13, 1);
      &:before {
        animation: radar2 3s cubic-bezier(0.16, 1, 0.3, 1) infinite;
      }
      &:after {
        animation: radar2 3s cubic-bezier(0.16, 1, 0.3, 1) infinite 0.4s;
      }
      &:before,
      &:after {
        content: '';
        width: vw-calc(61);
        height: vw-calc(61);
        border-radius: vw-calc(100);
        border: vw-calc(2) solid #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: 1;
        transform: translate3d(-50%, -50%, 0) scale(0);
      }
      &.hide {
        opacity: 0;
        visibility: hidden;
      }
      &#prevZoneBtn {
        right: calc(50% + #{vw-calc(53, $width)});
        transform: translate3d(0, -50%, 0) rotate(180deg);
      }
      &#nextZoneBtn {
        left: calc(50% + #{vw-calc(53, $width)});
      }
    }
    #mapIndicator {
      position: fixed;
      top: vw-calc(57, $width);
      left: vw-calc(74, $width);
      z-index: 6;
      opacity: 1;
      visibility: visible;
      transition: all 0.3s cubic-bezier(0.87, 0, 0.13, 1);
      &.hide {
        opacity: 0;
        visibility: hidden;
      }
      & > span {
        margin-bottom: vw-calc(20, $width);
        font-size: vw-calc(30, $width);
        font-weight: 900;
        color: #fff;
        text-shadow: vw-calc(0 3 6) #000;
      }
      ul {
        width: vw-calc(403, $width);
        height: vw-calc(180, $width);
        display: flex;
        background: url('./images/minimap.svg') center / 100% no-repeat;
        li {
          width: 25%;
          height: 100%;
          border-left: vw-calc(3, $width) dashed $lightblue;
          display: flex;
          justify-content: center;
          align-items: flex-end;
          position: relative;
          padding-bottom: vw-calc(20, $width);
          &:after {
            content: '';
            width: 100%;
            height: 100%;
            background: $black;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0.5;
            visibility: visible;
            transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
          }
          &:first-child {
            border: 0;
          }
          &.active {
            border: vw-calc(3, $width) solid $drakgreenblue;
            &:after {
              opacity: 0;
              visibility: hidden;
            }
            span {
              background: #fff;
              color: #074a45;
            }
          }
          span {
            width: vw-calc(32, $width);
            height: vw-calc(32, $width);
            border-radius: 50%;
            background: #074a45;
            color: #97ffe2;
            font-size: vw-calc(20, $width);
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
    #locationsWrap {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      transform: translate3d(0, 0, 0) scale(1);
      display: none;
      #locations {
        width: 100%;
        // height:100%;
        font-size: vw-calc(22, $width);
        position: relative;
        & > div {
          opacity: 1;
          visibility: visible;
          transition: opacity 0.3s cubic-bezier(0.87, 0, 0.13, 1), visibility 0.3s cubic-bezier(0.87, 0, 0.13, 1);
          &.hide {
            opacity: 0;
            visibility: hidden;
          }
          &#zone1 {
            .name {
              &:nth-child(1) {
                top: vw-calc(751, $width);
                left: vw-calc(2000, $width);
              }
            }
          }
          &#zone2 {
            .name {
              &:nth-child(1) {
                top: vw-calc(938, $width);
                left: vw-calc(2470, $width);
              }
              &:nth-child(2) {
                top: vw-calc(1110, $width);
                left: vw-calc(3054, $width);
              }
            }
          }
          &#zone3 {
            .name {
              &:nth-child(1) {
                top: vw-calc(1221, $width);
                left: vw-calc(3615, $width);
              }
              &:nth-child(2) {
                top: vw-calc(677, $width);
                left: vw-calc(4102, $width);
              }
            }
          }
          &#zone4 {
            .name {
              &:nth-child(1) {
                top: vw-calc(1031, $width);
                left: vw-calc(4915, $width);
              }
            }
          }
          .name {
            width: vw-calc(183, $width);
            height: vw-calc(48, $width);
            padding-bottom: vw-calc(2, $width);
            display: flex;
            justify-content: center;
            align-items: center;
            background: #243838cc;
            border-radius: vw-calc(24, $width);
            box-shadow: 0 vw-calc(3 6) rgba(0, 0, 0, 0.4);
            color: #fff;
            position: absolute;
            opacity: 1;
            visibility: visible;
            // transition: all .6s cubic-bezier(0.87, 0, 0.13, 1);
            // @for $i from 1 through 8 {
            //     &:nth-child(#{$i}) {
            //         transition-delay: #{$i*.1}s;
            //     }
            // }
            // &:nth-child(1){
            //     top:vw-calc(540, $width);
            //     left:vw-calc(703, $width);
            // }
            // &:nth-child(7){
            //     top:vw-calc(697, $width);
            //     right:vw-calc(892, $width);
            // }
          }
        }
      }
    }
    #contentWrap {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 5;
      transform: translate3d(0, 0, 0) scale(1);
      .item {
        opacity: 1;
        visibility: visible;
        transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
        &.hide {
          opacity: 0;
          visibility: hidden;
        }
        &.active {
          #markerWrap {
            #marker {
              background: url('./images/marker_w.svg') center center no-repeat;
            }
          }
          #roadWrap {
            animation: fadeInOut 2s ease infinite;
          }
        }
        #markerWrap {
          width: 0;
          height: 0;
          position: absolute;
          z-index: 2;
          #marker {
            width: vw-calc(61, $width);
            height: vw-calc(69, $width);
            background: url('./images/marker.svg') center center no-repeat;
            transform: translate3d(-50%, -100%, 0) scale(1);
            transition: transform 1s cubic-bezier(0.16, 1, 0.3, 1);
            &:before {
              animation: radar2 3s cubic-bezier(0.16, 1, 0.3, 1) infinite;
            }
            &:after {
              animation: radar2 3s cubic-bezier(0.16, 1, 0.3, 1) infinite 0.4s;
            }
            &:before,
            &:after {
              content: '';
              width: vw-calc(61);
              height: vw-calc(61);
              border-radius: vw-calc(100);
              border: vw-calc(2) solid #fa7f02;
              position: absolute;
              top: 40%;
              left: 50%;
              opacity: 1;
              transform: translate3d(-50%, -50%, 0) scale(0);
            }
            #location {
              position: absolute;
              font-size: vw-calc(20, $width);
              line-height: vw-calc(21, $width);
              font-weight: bold;
              color: #fff;
              white-space: nowrap;
              text-shadow: vw-calc(0 3 6, $width) #000;
              &.top {
                bottom: 110%;
                left: 50%;
                transform: translate3d(-50%, 0, 0);
              }
              &.left {
                right: 100%;
                top: 45%;
                transform: translate3d(0, -50%, 0);
              }
              &.right {
                left: 100%;
                top: 45%;
                transform: translate3d(0, -50%, 0);
              }
            }
          }
        }
        #roadWrap {
          width: 0;
          height: 0;
          position: absolute;
          z-index: 1;
          pointer-events: none;
        }
      }
    }
    #videoWrap {
      width: vw-calc(912, $width);
      height: auto;
      position: absolute;
      top: 50vh;
      left: calc(50% + #{vw-calc(412, $width)});
      z-index: 6;
      transform: translate3d(0, -50%, 0);
      animation: fadeIn 0.6s cubic-bezier(0.87, 0, 0.13, 1);
      &:before {
        content: '';
        display: block;
        padding-top: 56.25%;
      }
      & > div,
      video {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transform: none;
        outline: none;
        .vjs-big-play-button {
          width: vw-calc(155, $width);
          height: vw-calc(155, $width);
          background: url('./images/playBtn.svg') no-repeat;
          transform: translate3d(-50%, -50%, 0);
          border: 0;
          margin: 0;
          * {
            display: none;
          }
        }
        .vjs-control-bar {
          height: vw-calc(6, $width);
          opacity: 1 !important;
          background: none;
        }
        .vjs-progress-control .vjs-progress-holder {
          height: 100%;
          margin: 0;
        }
        .vjs-play-control,
        .vjs-picture-in-picture-control,
        .vjs-remaining-time {
          display: none;
        }
        .vjs-load-progress {
          background: #074a45;
        }
        .vjs-play-progress {
          background: #70ccb8;
          &:before {
            display: none;
          }
        }
      }
      #closeBtn {
        width: vw-calc(50, $width);
        height: vw-calc(50, $width);
        background: url('./images/closeBtn.svg') no-repeat;
        position: absolute;
        top: 0;
        right: 0;
        left: auto;
        z-index: 1;
        transform: translate3d(50%, -50%, 0);
      }
    }
  }

  #currentYear {
    position: absolute;
    bottom: vw-calc(37, $width);
    left: vw-calc(80, $width);
    z-index: 1;
    font-size: vw-calc(187, $width);
    text-shadow: 0 vw-calc(3, $width) vw-calc(6, $width) rgba(0, 0, 0, 0.2);
    color: #074a45;
    opacity: 1;
    visibility: visible;
    transition: all 1s cubic-bezier(0.87, 0, 0.13, 1);
    &.w {
      color: #fff;
    }
    &.disabled {
      transition-duration: 0.3s;
      transition-delay: 0s;
      opacity: 0;
      visibility: hidden;
    }
  }
  #yearOfCoastline {
    width: vw-calc(290, $width);
    height: vw-calc(360, $width);
    position: absolute;
    bottom: vw-calc(65, $width);
    right: vw-calc(16, $width);
    z-index: 1;
    // background:url('./images/yearOfCoastline_b.svg') center no-repeat;
    opacity: 1;
    visibility: visible;
    transition: all 1s cubic-bezier(0.87, 0, 0.13, 1);
    &.w {
      &:before {
        background: url('./images/yearOfCoastline_w.svg') center no-repeat;
      }
      p {
        color: #fff;
      }
      span,
      span:before,
      span:after {
        border-color: #fff;
      }
    }
    &.disabled {
      transition-duration: 0.3s;
      transition-delay: 0s;
      opacity: 0;
      visibility: hidden;
    }
    &:before {
      content: '';
      width: 100%;
      height: 100%;
      background: url('./images/yearOfCoastline_b.svg') center no-repeat;
      display: block;
      position: relative;
      z-index: 1;
    }
    &:after {
      content: '';
      width: 100%;
      height: 100%;
      background: rgba(7, 74, 69, 0.2);
      box-shadow: 0 0 vw-calc(200 200, $width) rgba(7, 74, 69, 0.2);
      transform: translate3d(0, 0, 0) scale(0.4, 0.5);
      position: absolute;
      top: 0;
      left: 0;
      border-radius: vw-calc(50, $width);
    }
    &.zoomed {
      p {
        transform: translate3d(100%, 0, 0);
      }
      span {
        transform: translate3d(20%, 0, 0) scaleX(0.6);
        &:before,
        &:after {
          transform: translate3d(0, 0, 0) scaleX(1.6);
        }
      }
    }
    p {
      white-space: nowrap;
      position: absolute;
      bottom: 0;
      right: 75%;
      z-index: 2;
      font-size: vw-calc(16, $width);
      font-weight: bold;
      color: #000;
      transform: translate3d(0, 0, 0);
      transition: all 1s cubic-bezier(0.87, 0, 0.13, 1);
    }
    span {
      width: vw-calc(117, $width);
      height: vw-calc(15 + 3, $width);
      border-bottom: vw-calc(3, $width) solid #000;
      position: absolute;
      bottom: vw-calc(4, $width);
      left: vw-calc(94, $width);
      z-index: 2;
      transform: translate3d(0, 0, 0) scaleX(1);
      transition: all 1s cubic-bezier(0.87, 0, 0.13, 1);
      &:before,
      &:after {
        content: '';
        width: 0;
        height: 100%;
        border-left: vw-calc(3, $width) solid #000;
        position: absolute;
        bottom: vw-calc(-3, $width);
        transform: translate3d(0, 0, 0) scaleX(1);
        transition: all 1s cubic-bezier(0.87, 0, 0.13, 1);
      }
      &:before {
        left: vw-calc(-2, $width);
      }
      &:after {
        right: vw-calc(-2, $width);
      }
    }
  }
  #yearSelector {
    z-index: 10;
    // width:vw-calc(264, $width);
    position: absolute;
    top: 50%;
    left: 50%;
    color: $white;
    // display: flex;
    // flex-direction: column;
    transform: translate3d(-50%, -50%, 0);
    transition: all 0.6s cubic-bezier(0.87, 0, 0.13, 1);
    &.hide {
      transition-delay: 0s;
    }
    #btnWrap {
      width: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 110%;
      left: 0;
      opacity: 0;
      visibility: hidden;
      transform: translate3d(vw-calc((339 + 20) / 2, $width), 0, 0);
      transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
      &.active {
        opacity: 1;
        visibility: visible;
      }
      &.idx_0 {
        transform: translate3d(vw-calc((339 + 20) / 2, $width), 0, 0);
      }
      &.idx_1 {
        transform: translate3d(vw-calc((339 + 20) + (339 + 20) / 2, $width), 0, 0);
      }
      &.idx_2 {
        transform: translate3d(vw-calc((339 + 20) + (339 + 20) + (339 + 20) / 2, $width), 0, 0);
      }
      &.idx_3 {
        transform: translate3d(vw-calc((339 + 20) + (339 + 20) + (339 + 20) + (339 + 20) / 2, $width), 0, 0);
      }
      #arrow {
        width: vw-calc(28, $width);
        height: vw-calc(16, $width);
        background: url('./images/arrow.svg') center no-repeat;
        display: block;
      }
      p {
        font-size: vw-calc(20, $width);
        color: #bbb;
        white-space: nowrap;
        margin-top: vw-calc(10, $width);
        display: flex;
        flex-direction: column;
        span {
          margin-left: vw-calc(20, $width);
          list-style: disc;
          display: list-item;
        }
      }
    }
    ul {
      font-family: 'Times New Roman', Times, serif;
      font-style: italic;
      font-weight: bold;
      position: relative;
      display: flex;
      transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
      // &:before,
      // &:after{
      //     content:'';
      //     width:vw-calc(3, $width);
      //     height:vw-calc(27, $width);
      //     background:$white;
      //     position: absolute;
      //     left:50%;
      // }
      // &:before{
      //     bottom:calc(100% + #{vw-calc(40, $width)});
      // }
      // &:after{
      //     top:calc(100% + #{vw-calc(40, $width)});
      // }
      li {
        height: vw-calc(150, $width);
        font-size: vw-calc(170, $width);
        margin: 0 vw-calc(10, $width);
        text-shadow: 0 vw-calc(3 6) rgba(0, 0, 0, 0.3);
        display: flex;
        transition: color 0.3s cubic-bezier(0.16, 1, 0.3, 1), height 0.5s cubic-bezier(0.16, 1, 0.3, 1);
        &.active {
          span {
            transform: translate3d(0, 0, 0) scale(1);
          }
        }
        span {
          display: flex;
          align-items: center;
          justify-content: center;
          transform-origin: center;
          transform: translate3d(0, 0, 0) scale(0.6);
          transition: transform 0.5s cubic-bezier(0.16, 1, 0.3, 1);
        }
      }
    }
  }
  #startBtn {
    width: vw-calc(191, $width);
    height: vw-calc(191 * 0.303, $width);
    background: $white;
    color: $drakgreenblue;
    border-radius: vw-calc(100, $width);
    margin-top: vw-calc(14, $width);
    font-size: vw-calc(23, $width);
    line-height: vw-calc(191 * 0.303, $width);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    // position: absolute;
    // top:50%;
    // left:50%;
    z-index: 10;
    transform: translate3d(0, 0, 0) scale(1);
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
    &.disabled {
      opacity: 0;
    }
    &:not(.disabled) {
      transform: translate3d(0, 0, 0) scale(1);
      &:before {
        animation: radar 3s cubic-bezier(0.16, 1, 0.3, 1) infinite;
      }
      &:after {
        animation: radar 3s cubic-bezier(0.16, 1, 0.3, 1) infinite 0.4s;
      }
      &:active {
        transform: translate3d(0, 0, 0) scale(0.9);
      }
    }
    &:before,
    &:after {
      content: '';
      width: calc(100% - #{vw-calc(2)});
      height: calc(100% - #{vw-calc(2)});
      border-radius: vw-calc(100, $width);
      border: vw-calc(2, $width) solid #fff;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 1;
      transform: translate3d(0, 0, 0) scale(0);
    }
  }
  #streetInfo {
    // width:100%;
    // height:100%;
    position: fixed;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    // &:after{
    //     content:'';
    //     width:100%;
    //     height:100%;
    //     position: absolute;
    //     top:0;
    //     left:0;
    //     z-index: 1;
    //     background:$white;
    //     opacity: .5;
    //     visibility: hidden;
    // }
    h1 {
      font-size: vw-calc(100, $width);
      color: $drakgreenblue;
      transform: translate3d(17vw, 81vh, 0);
    }
    // #markerOuterWrap{
    //     width:100%;
    //     height:100%;
    //     position: absolute;
    //     top: 0;
    //     left:0;
    //     z-index: 2;
    //     transform-origin: left top;
    //     #markerWrap{
    //         width:84.42708vw;
    //         height:84.42708 * 0.573vw;
    //         position: absolute;
    //         bottom:-93.2%;
    //         left: 9.5%;
    //         // transform: translate3d(-50%,-50%,0);
    //         // transform-origin: left;
    //         span{
    //             width:0;
    //             height:0;
    //             display: block;
    //             &:before{
    //                 content:'';
    //                 width:vw-calc(45, $width);
    //                 height:vw-calc(55, $width);
    //                 background:url('./images/marker.svg') center no-repeat;
    //                 background-size:100%;
    //                 transform: translate3d(-50%,-100%,0);
    //                 display: block;
    //             }
    //         }
    //     }
    // }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

@keyframes radar3 {
  0% {
    opacity: 0;
  }
  13% {
    opacity: 1;
  }
  100% {
    transform: translate3d(0, 0, 0) scale(3);
    opacity: 0;
  }
}

@keyframes radar2 {
  100% {
    transform: translate3d(-50%, -50%, 0) scale(1.1, 1.1);
    opacity: 0;
  }
}
