@import '../../setting.scss';

$white:#fff;
$black:#000;
$lightblue:#70CCB8;
$drakgreenblue:#074A45;
$brown:#59472A;

$width:3840;

@font-face {
    font-family: 'SourceHanSerifTC-Bold';
    src: url('../../fonts/SourceHanSerifTC-Bold.otf');
}

.streetFont {
    font-family: 'SourceHanSerifTC-Bold';
}

body{
    overflow: hidden;
    background:#0d3c59;
}

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    padding:0;
    margin:0;
}
ul,
li{
    list-style: none;
}
span{
    display: inline-block;
}

.hide{
    opacity: 0;
    visibility: hidden;
}

#main{
    width:100%;
    height:100%;
    // background:#103042;
    font-family: 'Helvetica';
    #coast, #street{
        // transition: all 0.3s cubic-bezier(0.87, 0, 0.13, 1);
        position: absolute;
    }
    .dot{
        position: absolute;
        &.d1{
            top: 364px;
            left: 1259px;
        }
        &.d2{
            top: 544px;
            left: 913px;
        }
        &.active{
            path{
                fill: red;
            }
        }
    }
    .road{
        position: absolute;
        width: auto;
        height: auto;
        &.r1{
            top: 392px;
            left: 1185px;
        }
        &.r2{
            top: 596px;
            left: 887px;
        }
    }
    .disclaimer{
        position: absolute;
        width: auto;
        height: auto;
        left: 3353px;
        top: 78px;
        z-index: 1;
    }
    .toLeft{
        position: absolute;
        width: 67px;
        height: 67px;
        top: 507px;
        left: 1785px;
    }
    .toRight{
        position: absolute;
        width: 67px;
        height: 67px;
        top: 507px;
        left: 1976px;
    }
    video{
        top: 261px;
        left: 2335px;
        position: absolute;
        width: 925px;
        height: 558px;
    }
    .cross{
        position: absolute;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        border: solid 1px black;
        color: #074A45;
        background-color: white;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 264px;
        left: 3239px;
        z-index: 3;
    }
    .correction{
        position: absolute;
        width: auto;
        height: auto;
        opacity: 0.2;
        z-index: 2;
    }
    .videoWrap{
        position: absolute;
        width: 3840px;
        height: 1080px;
        background-color: #fff;
        opacity: 0;
        transition: opacity 0.5s linear;
        display: flex;
        align-items: center;
        &.active{
            opacity: 0.6;
        }
        &::after{
            content: '';
            position: absolute;
            left: 1917.5px;
            height: 1080px;
            border-right: solid 5px black;
        }
    }
    .yearMark{
        position: absolute;
        transition: opacity linear 0.3s, visibility linear 0.3s;
        width: 377px;
        height: 244px;
        left: 80px;
        top: 800px;
    }
    .legend{
        position: absolute;
        transition: opacity linear 0.3s, visibility linear 0.3s;
        width: 212px;
        height: 313px;
        left: 3531px;
        top: 707px;
    }
    .coastLine{
        position: absolute;
        transition: opacity linear 0.3s, visibility linear 0.3s;
        width: auto;
        height: auto;
    }
    .nav_2019_sea{
        position: absolute;
        transition: opacity linear 0.3s, visibility linear 0.3s;
        width: auto;
        height: auto;
        top: 898px;
        left: 2082px;
        z-index: 11;
    }
    .smallMap{
        position: absolute;
        z-index: 1;
        width: auto;
        height: auto;
        top: 141px;
        left: 473px;
        transition: all 0.3s cubic-bezier(0.87, 0, 0.13, 1);
    }
    .shader{
        position: relative;
        z-index: 1;
    }
    .hmWrap{
        position: absolute;
        transition: opacity linear 0.3s, visibility linear 0.3s;
        img{
            vertical-align: top;
        }
        &::after{
        content: '';
        background-color: #134e71b0;
        display: block;
        position: absolute;
        width: 3840px;
        height: 1080px;
        top: 0;
        }
    }
    .wrap{
        width: 3840px;
        height: 1080px;
        overflow: hidden;
        position: absolute;
        transition: opacity linear 0.3s, visibility linear 0.3s;
        .island{
            position: absolute;
            top: 0px;
            z-index: 10;
            transition: opacity linear 0.3s, visibility linear 0.3s;
        }
        .full{
            position: absolute;
            top: 0px;
            opacity: 0.5;
            transition: opacity linear 0.3s, visibility linear 0.3s;
        }
        .filled{
            position: absolute;
            top: 0px;
            opacity: 0;
            transition: opacity linear 0.3s, visibility linear 0.3s;
        }
        .zoomMap{
            transform: scale(1) translate3d(0px, 0px, 0px);
            transition: all 1s linear;
            &.zoom1{
                transform: scale(1.89) translate3d(583px, 53px, 0px);
            }
            &.zoom2{
                transform: scale(1.89) translate3d(99px, -20px, 0px);
            }
            &.zoom3{
                transform: scale(1.19) translate3d(-262px, -86px, 0px);
            }
            &.zoom4{
                transform: scale(1.19) translate3d(-1188.3px, 86px, 0px);
            }
        }
        &.active{
            opacity: 1;
            visibility: visible;
            .full.true{
                opacity: 1;
            }
            // .filled1900.true{
            //     opacity: 1;
            // }
        }
    }
    &.started{
        #yearSelector{
            opacity: 0;
            visibility: hidden;
        }
    }
    &.zoomed{
        #yearSelector{
            opacity: 0;
            visibility: hidden;
        }
        #mapIndicator{
            opacity: 1;
            visibility: visible;
        }
        #streetInfo{
            opacity: 1;
            visibility: visible;
            &:after{
                visibility: visible;
            }
        }
    }
    #mapIndicator{
        position: fixed;
        top:vw-calc(66, $width);
        left:vw-calc(472, $width);
        z-index: 10;
        opacity: 0;
        visibility: hidden;
        transition: all .3s cubic-bezier(0.87, 0, 0.13, 1);
        span{
            margin-bottom:vw-calc(20, $width);
            font-size:vw-calc(30, $width);
        }
        ul{
            opacity: 0.7;
            width:vw-calc(403, $width);
            height:vw-calc(180, $width);
            display: flex;
            li{
                width:25%;
                height:100%;
                border-left:vw-calc(3, $width) dashed $lightblue;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                background:$white;
                &:before{
                    content:'';
                    width:100%;
                    height:100%;
                    border:vw-calc(3, $width) solid $drakgreenblue;
                    position: absolute;
                    top:0;
                    left:0;
                    transform: translate3d(vw-calc(-3, $width), vw-calc(-3, $width), 0);
                }
                &:after{
                    content:'';
                    width:100%;
                    height:100%;
                    background:$black;
                    position: absolute;
                    top:0;
                    left:0;
                    opacity: .7;
                    visibility: visible;
                }
                &:first-child{
                    border:0;
                }
                &.active{
                    &:after{
                        opacity: 0;
                        visibility: hidden;
                    }
                }
            }
        }
    }
    #yearSelector{
        z-index: 10;
        width:vw-calc(264, $width);
        position: absolute;
        top:50%;
        left:vw-calc(175, $width);
        font-family: 'Times New Roman';
        font-weight: bold;
        font-style: italic;
        color:$lightblue;
        display: flex;
        flex-direction: column;
        transform: translate3d(0,-50%,0);
        transition: all .3s cubic-bezier(0.87, 0, 0.13, 1);
        &.disabled{
            ul{
                transform: translate3d(0,0,0);
            }
            #startBtn{
                opacity: 1;
                visibility: visible;
                // transform: translate3d(-50%,0,0) scale(1);
            }
        }
        &:not(.disabled){
            #startBtn{
                transform: translate3d(-50%,vw-calc(50,$width),0) scale(1);
                &:active{
                    transform: translate3d(-50%,vw-calc(50,$width),0) scale(.9);
                }
            }
        }
        ul{
            position: relative;
            transform: translate3d(0,calc(#{vw-calc(-50, $width)}),0);
            transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
            &:before,
            &:after{
                content:'';
                width:vw-calc(3, $width);
                height:vw-calc(27, $width);
                background:$white;
                position: absolute;
                left:50%;
            }
            &:before{
                bottom:calc(100% + #{vw-calc(20, $width)});
            }
            &:after{
                top:calc(100% + #{vw-calc(20, $width)});
            }
            li{
                height:vw-calc(120, $width);
                font-size:vw-calc(132, $width);
                display: flex;
                transition: color 0.3s cubic-bezier(0.16, 1, 0.3, 1), height 0.5s cubic-bezier(0.16, 1, 0.3, 1);
                &.active{
                    height:vw-calc(150, $width);
                    color:$white;
                    span{
                        transform: translate3d(0,0,0) scale(1);
                    }
                }
                span{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transform-origin: center;
                    transform: translate3d(0,0,0) scale(.35);
                    transition: transform 0.5s cubic-bezier(0.16, 1, 0.3, 1);
                }
            }
        }
        #startBtn{
            width:100%;
            height:vw-calc(80, $width);
            background:$white;
            border-radius: vw-calc(100, $width);
            font-size:vw-calc(30, $width);
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top:100%;
            left:50%;
            transform: translate3d(-50%,vw-calc(50,$width),0) scale(0);
            transition: all .6s cubic-bezier(0.16, 1, 0.3, 1);
        }
    }
    #streetInfo{
        // width:100%;
        // height:100%;
        position: fixed;
        z-index: 2;
        opacity:0;
        visibility: hidden;
        // &:after{
        //     content:'';
        //     width:100%;
        //     height:100%;
        //     position: absolute;
        //     top:0;
        //     left:0;
        //     z-index: 1;
        //     background:$white;
        //     opacity: .5;
        //     visibility: hidden;
        // }
        h1{
            font-size:vw-calc(100, $width);
            color:$drakgreenblue;
            transform: translate3d(17vw, 81vh, 0);
        }
        // #markerOuterWrap{
        //     width:100%;
        //     height:100%;
        //     position: absolute;
        //     top: 0;
        //     left:0;
        //     z-index: 2;
        //     transform-origin: left top;
        //     #markerWrap{
        //         width:84.42708vw;
        //         height:84.42708 * 0.573vw;
        //         position: absolute;
        //         bottom:-93.2%;
        //         left: 9.5%;
        //         // transform: translate3d(-50%,-50%,0);
        //         // transform-origin: left;
        //         span{
        //             width:0;
        //             height:0;
        //             display: block;
        //             &:before{
        //                 content:'';
        //                 width:vw-calc(45, $width);
        //                 height:vw-calc(55, $width);
        //                 background:url('./images/marker.svg') center no-repeat;
        //                 background-size:100%;
        //                 transform: translate3d(-50%,-100%,0);
        //                 display: block;
        //             }
        //         }
        //     }
        // }
    }
}