@import '../../setting.scss';
@import url('http://fonts.googleapis.com/earlyaccess/notosanstc.css');

@font-face {
    font-family: 'FuturaLT';
    src: url('../../fonts/FuturaLT-Bold.eot');
    src: url('../../fonts/FuturaLT-Bold.woff2') format('woff2'),
         url('../../fonts/FuturaLT-Bold.woff') format('woff'),
         url('../../fonts/FuturaLT-Bold.ttf') format('truetype'),
         url('../../fonts/FuturaLT-Bold.svg#FuturaLT-Bold') format('svg'),
         url('../../fonts/FuturaLT-Bold.eot?#iefix') format('embedded-opentype');
    font-weight: bold;
    font-style: normal;
}
  
  
@font-face {
    font-family: 'FuturaLT';
    src: url('../../fonts/FuturaLT.eot');
    src: url('../../fonts/FuturaLT.woff2') format('woff2'),
            url('../../fonts/FuturaLT.woff') format('woff'),
            url('../../fonts/FuturaLT.ttf') format('truetype'),
            url('../../fonts/FuturaLT.svg#FuturaLT') format('svg'),
            url('../../fonts/FuturaLT.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
  
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    padding:0;
    margin:0;
}

$child: 5;
$halfScreenWidth: 100 / 2;
body{
    user-select: none;
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    &:active{
        cursor: grabbing;
        cursor: -moz-grabbing;
        cursor: -webkit-grabbing;
    }
}
#home{
    width:100%;
    height:100%;
    overflow: hidden;
    font-family: 'Noto Sans TC' ,sans-serif;
    background:#000;
    overflow: hidden;
    &:before{
        content:'';
        width:100%;
        height:vw-calc(4);
        background:#fff;
        position: absolute;
        top:50%;
        left:0;
        transform: translate3d(0,-50%,0);
    }
    #sectionWrap{
        width:$halfScreenWidth * ($child+1) * 1vw;
        height:100%;
        position: relative;
        opacity: 1;
        visibility: visible;
        &.hide{
            opacity: 0;
            visibility: hidden;
        }
        .section{
            width:100vw;
            height:100vh;
            position: absolute;
            top:50%;
            background:#fff;
            transform: translate3d(-50%,-50%,0);
            overflow: hidden;
            clip-path: circle(20.3% at 50% 50%);
            transition: clip-path .8s cubic-bezier(0.83, 0, 0.17, 1);

            @for $i from 1 through $child {
                &:nth-child(#{$i}) {
                    left: $i * $halfScreenWidth * 1vw;
                }
            }
            &.active{
                z-index: 2;
                clip-path: circle(75.0% at 50% 50%);
                #wrap{
                    clip-path: circle(75.0% at 50% 50%);
                    transition-delay: .1s;
                    p span, .img{
                        opacity: 0;
                        visibility: hidden;
                    }
                }
            }
            #wrap{
                width:100%;
                height:100%;
                background:#00B8C7;
                clip-path: circle(20.0% at 50% 50%);
                transition: clip-path .8s cubic-bezier(0.87, 0, 0.13, 1);
                p{
                    width:vw-calc(308);
                    height:vw-calc(194);
                    font-size:vw-calc(20);
                    line-height:vw-calc(27);
                    color:#fff;
                    position: absolute;
                    top:calc(50% - #{vw-calc(220)});
                    left:calc(50% - #{vw-calc(308/2)});
                    span{
                        transition: opacity .6s cubic-bezier(0.65, 0, 0.35, 1), visibility .6s cubic-bezier(0.65, 0, 0.35, 1);
                    }
                }
                .img{
                    width:vw-calc(653);
                    height:vw-calc(653);
                    position: absolute;
                    bottom:calc(50% - #{vw-calc(653/2)});
                    right:calc(50% - #{vw-calc(653/2)});
                    background:url('./images/building@2x.png') right bottom no-repeat;
                    background-size: 100%;
                    transform: translate3d(0,0,0) scale(.8);
                    transform-origin: right bottom;
                    transition: opacity .6s cubic-bezier(0.65, 0, 0.35, 1), visibility .6s cubic-bezier(0.65, 0, 0.35, 1);
                }
            }
        }
    }
    #contentWrap{
        width:auto;
        height:100%;
        position: fixed;
        top:0;
        left:0;
        z-index: 998;
        display: flex;
        opacity: 0;
        visibility: hidden;
        &.active{
            opacity: 1;
            visibility: visible;
        }
            // &.disable{
            //     .content{
            //         #sidebar{
            //             transition-duration: 0s;
            //         }
            //     }
            // }
            // .content{
            //     &.active{
            //         #sidebar{
            //             width:100vw;
            //             &.minimal{
            //                 width:vw-calc(455);
            //                 #img{
            //                     opacity: 0;
            //                     visibility: hidden;
            //                     transition-duration: 1s, .3s, .3s;
            //                 }
            //             }
            //             #img{
            //                 opacity: 1;
            //                 visibility: visible;
            //                 transform: translate3d(1px,1px,0);
            //             }
            //         }
            //     }
            // }
        // }
        .content{
            width: auto;
            height:100%;
            position: relative;
            padding-left:50vw;
            display: flex;
            
            .item{
                min-width: 100vw;
                height:100%;
                text-align: center;
                font-size:vw-calc(100);
                line-height: 100vh;
                color:#fff;
                &:nth-child(odd){
                    background:rgb(0, 156, 170);
                }
                &:nth-child(even){
                    background:rgb(6, 145, 158);
                }
            }
        }
    }
    #sidebarWrap{
        opacity: 0;
        visibility: hidden;
        position: fixed;
        top:0;
        left:0;
        z-index: 999;
        &.active{
            opacity: 1;
            visibility: visible;
            // &.disable{
            //     .sidebar{
                    // transition-duration: 0s;
                // }
            // }
            .sidebar{
                &.active{
                    #img{
                        opacity: 1;
                        visibility: visible;
                        transform: translate3d(calc(100vw - #{vw-calc(455 - 1)}), 1px, 0);
                        transition-duration: 1s, .6s, .6s;
                    }
                }
            }
        }
        .sidebar{
            width:vw-calc(455);
            height:100vh;
            position: absolute;
            top:0;
            left: 0;
            color:#fff;
            font-weight: bold;
            perspective: 600px;
            &.active{
                &:after{
                    transform: translate3d(0,0,0) scaleX(1);
                }
                #des{
                    width:vw-calc(630);
                    height:vw-calc(297);
                    font-size: vw-calc(40);
                    line-height: vw-calc(55);
                    top:calc(52% - #{vw-calc(40)});
                    left:vw-calc(190);
                    transform: translate3d(0,-100%,0);
                }
                #date{
                    font-size: vw-calc(40);
                    top:calc(48% + #{vw-calc(40)});
                    left:vw-calc(190);
                }
                #img{
                    //
                    // transition-duration: 1s, .6s, .6s;
                }
            }
            &:after{
                content:'';
                width:100vw;
                height:100%;
                background:#00B8C7;
                position: absolute;
                top:0;
                left:0;
                z-index: -1;
                transform-origin: left;
                transform: translate3d(0,0,0) scaleX(calc(455 / 1920));
                transition: transform 1.6s cubic-bezier(0.16, 1, 0.3, 1);
            }
            #des{
                width:vw-calc(272);
                height:vw-calc(387);
                font-size: vw-calc(25);
                line-height: vw-calc(36);
                font-weight: normal;
                position: absolute;
                top:vw-calc(95);
                left:vw-calc(95);
                transform: translate3d(0,0%,0);
                transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
                span{
                    float: left;
                    overflow: hidden;
                    display: inline-block;
                }
            }
            #date{
                width:vw-calc(250);
                font-size: vw-calc(81);
                line-height: vw-calc(83);
                position: absolute;
                top:calc(48% + #{vw-calc(55)});
                left:vw-calc(95);
                overflow: hidden;
                transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
                span{
                    display: inline-block;
                    &:nth-child(2){
                        margin:0 vw-calc(10);
                    }
                }
            }
            #img{
                width:100vw;
                height:vw-calc(670);
                position: fixed;
                bottom:0%;
                right:0%;
                background:url('./images/building@2x.png') right bottom no-repeat;
                background-size: auto 100%;
                opacity: 0;
                visibility: hidden;
                transform: translate3d(calc(100vw - #{vw-calc(255)}), 1px, vw-calc(100));
                transform-origin: right bottom;
                transition: transform 1s cubic-bezier(0.16, 1, 0.3, 1), opacity .3s cubic-bezier(0.65, 0, 0.35, 1), visibility .3s cubic-bezier(0.65, 0, 0.35, 1);
            }
            #line{
                width:100vw;
                height:vw-calc(5);
                background:#fff;
                position: absolute;
                top:50%;
                left:0;
                transform: translate3d(0,-50%,0);
                transform-origin: left;
            }
        }
    }
}